{% extends "layout/main.twig" %}

{% block content %}

    <div class="figure-1"></div>

    <div class="banner">
        <div class="content">
            <div class="banner-content">
                <div class="banner-title">
                    <h1>CURRENCY ARBITRAGE
                        INNOVATION IN THE AREA OF <span>CAPITAL GROWTH</span></h1>
                </div>

                <div class="banner-text">
                    <p>An open international IT ecosystem <nobr>specializing in capital</nobr>  engineering</p>
                </div>

                <div class="banner-button">
                    <button >
                        <a href="#" class="btn-noOrange">HOW TO START</a>
                    </button>

                    <button >
                        <a href="#" class="btn-orange">View products</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="doing">

        <div class="figure-11"></div>

        <div class="content">
            <div class="doing-content">

                <div class="doing-left">
                    <div class="doing-left_title">
                        <h2>What are we <span>doing</span></h2>
                    </div>

                    <div class="doing-left_text">
                        <p>Grayscale Bitcoin Trust is one of the first securities solely and passively invested in Bitcoin ("BTC") that enables investors to gain exposure to BTC in the form of a security while avoiding the challenges of buying, storing, and safekeeping BTC, directly. Shares (based on BTC </p>
                    </div>
                </div>

                <div class="doing-right">
                    <div class="doing-right_item">
                        <div class="doing-right_number">
                            <span>01</span>
                        </div>

                        <div class="doing-right_text">
                            <span>How to create a new P2Pro account?</span>
                        </div>
                    </div>

                    <div class="doing-right_item">
                        <div class="doing-right_number">
                            <span>02</span>
                        </div>

                        <div class="doing-right_text">
                            <span>How to create a new P2Pro account?</span>
                        </div>
                    </div>

                    <div class="doing-right_item">
                        <div class="doing-right_number">
                            <span>03</span>
                        </div>

                        <div class="doing-right_text">
                            <span>How to create a new P2Pro account?</span>
                        </div>
                    </div>

                    <div class="doing-right_item">
                        <div class="doing-right_number">
                            <span>04</span>
                        </div>

                        <div class="doing-right_text">
                            <span>How to create a new P2Pro account?</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="rolling-caption" class="b-rolling-caption">
        <div class="b-rolling-caption__wrap">
            <div class="b-rolling-caption__content">
                <span>Encrease your capital with etfrix</span>
                <span><i class="icon-rolling"></i></span>

                <span>Encrease your capital with etfrix</span>
                <span><i class="icon-rolling"></i></span>

                <span>Encrease your capital with etfrix</span>
                <span><i class="icon-rolling"></i></span>

                <span>Encrease your capital with etfrix</span>
                <span><i class="icon-rolling"></i></span>

                <span>Encrease your capital with etfrix</span>
                <span><i class="icon-rolling"></i></span>

                <span>Encrease your capital with etfrix</span>
                <span><i class="icon-rolling"></i></span>

            </div>
        </div>
    </div>

    <div class="video">
        <div class="video-text">
            <div id="text">
                <div class="content">

                    <div class="video-button">

                        <button class="js-toggle"></button>

                    </div>

                </div>
            </div>

            <div id="video-overlay"></div>
        </div>


        <div id="video-play">
            <video id="fullSizeVideo" preload='none' poster="" autoplay muted>
                <source id='mp4' src="../img/video.mp4" type='video/mp4' />
            </video>
        </div>
    </div>

    <div class="advantages">
        <div class="content">
            <div class="advantages-content">

                <div class="advantages-title">
                    <h2>Our <span>advantages</span></h2>
                </div>

                <div class="advantages-flex">

                    <div class="advantages-item">
                        <div class="advantages-item_icon">
                            <img src="/img/icons/t_1.png" alt="">
                        </div>

                        <div class="advantages-item_title">
                            <h5>Actuality</h5>
                        </div>

                        <div class="advantages-item_text">
                            <p>P2PRO occupies an innovative niche IT-segment, having no analogues and competitors in the economic field.</p>
                        </div>
                    </div>

                    <div class="advantages-item">
                        <div class="advantages-item_icon">
                            <img src="/img/icons/t_2.png" alt="">
                        </div>

                        <div class="advantages-item_title">
                            <h5>Speed</h5>
                        </div>

                        <div class="advantages-item_text">
                            <p>P2PRO occupies an innovative niche IT-segment, having no analogues and competitors in the economic field.</p>
                        </div>
                    </div>

                    <div class="advantages-item">
                        <div class="advantages-item_icon">
                            <img src="/img/icons/t_3.png" alt="">
                        </div>

                        <div class="advantages-item_title">
                            <h5>Technology</h5>
                        </div>

                        <div class="advantages-item_text">
                            <p>P2PRO occupies an innovative niche IT-segment, having no analogues and competitors in the economic field.</p>
                        </div>
                    </div>

                    <div class="advantages-item">
                        <div class="advantages-item_icon">
                            <img src="/img/icons/t_4.png" alt="">
                        </div>

                        <div class="advantages-item_title">
                            <h5>Guarantees</h5>
                        </div>

                        <div class="advantages-item_text">
                            <p>P2PRO occupies an innovative niche IT-segment, having no analogues and competitors in the economic field.</p>
                        </div>
                    </div>

                </div>

                <div class="advantages-flex">

                    <div class="advantages-item">
                        <div class="advantages-item_icon">
                            <img src="/img/icons/t_5.png" alt="">
                        </div>

                        <div class="advantages-item_title">
                            <h5>Actuality</h5>
                        </div>

                        <div class="advantages-item_text">
                            <p>P2PRO occupies an innovative niche IT-segment, having no analogues and competitors in the economic field.</p>
                        </div>
                    </div>

                    <div class="advantages-item">
                        <div class="advantages-item_icon">
                            <img src="/img/icons/t_6.png" alt="">
                        </div>

                        <div class="advantages-item_title">
                            <h5>Speed</h5>
                        </div>

                        <div class="advantages-item_text">
                            <p>P2PRO occupies an innovative niche IT-segment, having no analogues and competitors in the economic field.</p>
                        </div>
                    </div>

                    <div class="advantages-item">
                        <div class="advantages-item_icon">
                            <img src="/img/icons/t_7.png" alt="">
                        </div>

                        <div class="advantages-item_title">
                            <h5>Technology</h5>
                        </div>

                        <div class="advantages-item_text">
                            <p>P2PRO occupies an innovative niche IT-segment, having no analogues and competitors in the economic field.</p>
                        </div>
                    </div>

                    <div class="advantages-item">
                        <div class="advantages-item_icon">
                            <img src="/img/icons/t_8.png" alt="">
                        </div>

                        <div class="advantages-item_title">
                            <h5>Guarantees</h5>
                        </div>

                        <div class="advantages-item_text">
                            <p>P2PRO occupies an innovative niche IT-segment, having no analogues and competitors in the economic field.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <div class="documentation">
        <div class="content">
            <div class="documentation-content">

                <div class="documentation-left">
                    <div class="documentation-title">
                        <h2>Documentation</h2>
                    </div>

                    <div class="documentation-text">
                        <p>Grayscale Bitcoin Trust is one of the first securities solely and passively invested in Bitcoin ("BTC") that enables investors to gain exposure to BTC in the form of a security while avoiding the challenges of buying, storing, and safekeeping B. </p>
                        <p>TC, directly. Shares (based on BTC per Share) are designed to reflect the value of BTC held by the Trust, determined by reference to the Index Price, less the Trust's expenses and other liabilities.</p>
                    </div>
                </div>

                <div class="documentation-right">
                    
                    <div class="document-slider">
                        <div>
                            <a href="/img/document.jpg" rel="lightbox-j">
                                <img src="/img/document.jpg" alt="">
                            </a>
                        </div>

                        <div>
                            <a href="/img/document2.jpg" rel="lightbox-j">
                                <img src="/img/document2.jpg" alt="">
                            </a>
                        </div>

                        <div>
                            <a href="/img/document.jpg" rel="lightbox-j">
                                <img src="/img/document.jpg" alt="">
                            </a>
                        </div>

                        <div>
                            <a href="/img/document.jpg" rel="lightbox-j">
                                <img src="/img/document.jpg" alt="">
                            </a>
                        </div>

                        <div>
                            <a href="/img/document.jpg" rel="lightbox-j">
                                <img src="/img/document.jpg" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="arrowIndex2">
                        <div class="prev-index2"></div>
                        <div class="next-index2"></div>
                    </div>

                    
                </div>

            </div>
        </div>
    </div>


    <div class="history">

        <div class="figure-9"></div>
        <div class="figure-10"></div>


        <div class="content">

            <div class="history-title">
                <h2><span>History</span> of ETFRIX</h2>
            </div>

            <div class="history-content">
                <div class="slider-for">

                    <div>
                        <div class="history-tab">
                            <div class="history-tab_left">
                                <div class="history-tab_title">
                                    <h2><span>History</span> <nobr>of ETFRIX</nobr></h2>
                                </div>


                                <div class="history-tab_year">
                                    <span>2014</span>
                                </div>
                            </div>

                            <div class="history-tab_right">
                                <div class="history-tab_title2">

                                    <div class="history-tab_icon">
                                        <i class="icon-tabArrow"></i>
                                    </div>

                                    <p>March 2014</p>
                                </div>

                                <div class="history-tab_description">
                                    <p>Among the main areas of currency arbitrage, we can highlight Interexchange. This option is classic and is based on the difference in rates between trading platforms.</p>

                                    <p>Among the main areas of currency arbitrage, we can highlight Interexchange. This option is classic and is based on the difference in rates between trading platforms.</p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div>text2</div>

                    <div>Текст3</div>
                    <div>Текст4</div>
                    <div>Текст5</div>
                    <div>Текст6</div>
                    <div>Текст7</div>
                    <div>Текст8</div>
                </div>

                <div class="slider-nav_block">
                    <div class="slider slider-nav">
                        <div>2014</div>
                        <div>2015</div>
                        <div>2016</div>
                        <div>2018</div>
                        <div>2020</div>
                        <div>2021</div>
                        <div>2023</div>
                        <div>2024</div>
                    </div>

                    <div class="slider-nav_arrow">
                        <div class="next-tabs"></div>
                    </div>
                </div>




            </div>
        </div>
    </div>

    <div class="plan">

        <div class="figure-12"></div>

        <div class="content">
            <div class="plan-content">
                <div class="plan-title">
                    <h2>what motivates us, our <span>plans</span></h2>
                </div>


                <div class="plan-block">
                    <div class="plan-block_item">
                        <div class="plan-block_icon">
                            <i class="icon-orange"></i>
                        </div>

                        <div class="plan-block_title">
                            <h5>Grayscale Bitcoin</h5>
                        </div>

                        <div class="plan-block_text">
                            <p>Trust is one of the first securities solely and passively invested in Bitcoin ("BTC") that enables investors to gain exposure to BTC in the form of a security while avoiding the challenges of buying, storing, and safekeeping</p>
                        </div>
                    </div>

                    <div class="plan-block_item">
                        <div class="plan-block_icon">
                            <i class="icon-orange"></i>
                        </div>

                        <div class="plan-block_title">
                            <h5>Grayscale Bitcoin</h5>
                        </div>

                        <div class="plan-block_text">
                            <p>Trust is one of the first securities solely and passively invested in Bitcoin ("BTC") that enables investors to gain exposure to BTC in the form of a security while avoiding the challenges of buying, storing, and safekeeping</p>
                        </div>
                    </div>

                    <div class="plan-block_item">
                        <div class="plan-block_icon">
                            <i class="icon-orange"></i>
                        </div>

                        <div class="plan-block_title">
                            <h5>Grayscale Bitcoin</h5>
                        </div>

                        <div class="plan-block_text">
                            <p>Trust is one of the first securities solely and passively invested in Bitcoin ("BTC") that enables investors to gain exposure to BTC in the form of a security while avoiding the challenges of buying, storing, and safekeeping</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>





{% endblock %}