{% extends "layout/main.twig" %}

{% block content %}

    <div class="figure-1"></div>

    <div class="banner">
        <div class="content">
            <div class="banner-content">
                <div class="banner-title">
                    <h1>etfrix <br>
                        <span>AFFILIATE</span><br>
                        PROGRAM</h1>
                </div>

                <div class="banner-text">
                    <p>An open international IT ecosystem <nobr>specializing in capital</nobr>  engineering</p>
                </div>

                <div class="banner-button">
                    <button >
                        <a href="#" class="btn-noOrange">HOW TO START</a>
                    </button>

                    <button >
                        <a href="#" class="btn-orange">View products</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="affiliate-1">

        <div class="figure-13"></div>

        <div class="content">
            <div class="affiliate-content">
                <div class="affiliate-title">
                    <h2><span>Реферальная</span> программа</h2>
                </div>

                <div class="affiliate-text">
                    <p>Привлеченные инвестиции по многоуровневой системе <br> Все бонусы действуют по <nobr>3х уровневой рефсистеме</nobr></p>
                </div>

                <div class="affiliate-table">
                    <div class="affiliate-responsive">
                        <table class="">

                            <thead>
                                <tr>
                                    <th></th>
                                    <th>1 уровень</th>
                                    <th>2 уровень</th>
                                    <th>3 уровень</th>
                                    <th>4 уровень</th>
                                    <th>5 уровень</th>
                                    <th>6 уровень</th>
                                    <th>7 уровень</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td><p>Индивидуальный депозит</p></td>
                                    <td>100 $</td>
                                    <td>100 $</td>
                                    <td>100 $</td>
                                    <td>100 $</td>
                                    <td>100 $</td>
                                    <td>100 $</td>
                                    <td>100 $</td>
                                </tr>

                                <tr>
                                    <td><p>Командный депозит</p></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td><p class="table_size">Доход</p></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="affiliate-table_arrow"></div>

                <div class="affiliate-description">
                    <p>При закрытии начальных уровней можно использовать средства к выводу или использовать для покупки ETF. После прохождения начального этапа и сдачи теста, можно начинать развитие по долгосрочной реферальной стратегии</p>
                </div>
            </div>
        </div>
    </div>

    <div class="affiliate-2">


        <div class="content">
            <div class="affiliate-content">
                <div class="affiliate-title">
                    <h2>Условия для <span>“начинающих инвесторов”</span></h2>
                </div>

                <div class="affiliate-table">
                    <div class="affiliate-responsive">
                        <table class="">

                            <thead>
                            <tr>
                                <th></th>
                                <th>1 уровень</th>
                                <th>2 уровень</th>
                                <th>3 уровень</th>
                                <th>4 уровень</th>
                                <th>5 уровень</th>
                                <th>6 уровень</th>
                                <th>7 уровень</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td><p>Количество одновременно доступных к покупке ETF</p></td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                            </tr>

                            <tr>
                                <td><p>Возможность досрочного свитча ETF</p></td>
                                <td>-</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><p>Возможность докупить текущий ETF</p></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="affiliate-table_arrow"></div>

            </div>
        </div>
    </div>

    <div class="affiliate-3">

        <div class="figure-14"></div>

        <div class="content">
            <div class="affiliate-content">
                <div class="affiliate-top">
                    <div class="affiliate-top_left">
                       <div class="affiliate-top_title">
                           <h2><span>Долгосрочная</span> реферальная <br> стратегия</h2>
                       </div>

                        <div class="affiliate-top_text">
                            <p>При желании, инвестор может использовать личные средства для достижения лимита “привлеченных” инвестиций, но необходимо также привлечь партнеров.</p>
                        </div>
                    </div>

                    <div class="affiliate-top_right">
                        <ol>
                            <li><p>Investment Advisor Assistant 🐒 <nobr>C-1</nobr></p></li>
                            <li><p>Assistant 🦧</p></li>
                            <li><p>Advanced 🦍</p></li>
                            <li><p>Specialist🧑‍🦽</p></li>
                            <li><p>Эксперт 🧑‍🦯</p></li>
                            <li><p>Руководитель 🧎</p></li>
                            <li><p>Региональный директор 🫅</p></li>
                        </ol>
                    </div>
                </div>

                <div class="affiliate-table">
                    <div class="affiliate-responsive">
                        <table class="">

                            <thead>
                            <tr>
                                <th></th>
                                <th class="text-left">Ассистент инвестиционного консультанта</th>
                                <th>Консультант</th>
                                <th>Продвинутый</th>
                                <th>Специалист</th>
                                <th>Эксперт</th>
                                <th>Руководитель</th>
                                <th>Региональный директор</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td><p>Количество привлеченных инвестиций</p></td>
                                <td>100 $</td>
                                <td>100 $</td>
                                <td>100 $</td>
                                <td>100 $</td>
                                <td>100 $</td>
                                <td>100 $</td>
                                <td>100 $</td>
                            </tr>

                            <tr>
                                <td><p>Необходимое количество активных партнеров для получения ступени статуса</p></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><p class="table_size">Доход</p></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="affiliate-table_arrow"></div>

            </div>
        </div>
    </div>

    <div class="affiliate-2">


        <div class="content">
            <div class="affiliate-content">
                <div class="affiliate-title affiliate-title_break">
                    <h2>Условия для <span>“долгосрочной инвестиционной стратегии”</span></h2>
                </div>

                <div class="affiliate-table">
                    <div class="affiliate-responsive">
                        <table class="">

                            <thead>
                            <tr>
                                <th></th>
                                <th class="text-left">Ассистент инвестиционного консультанта</th>
                                <th>Консультант</th>
                                <th>Продвинутый</th>
                                <th>Специалист</th>
                                <th>Эксперт</th>
                                <th>Руководитель</th>
                                <th>Региональный директор</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td><p>Количество одновременно доступных к покупке ETF</p></td>
                                <td>100 $</td>
                                <td>100 $</td>
                                <td>100 $</td>
                                <td>100 $</td>
                                <td>100 $</td>
                                <td>100 $</td>
                                <td>100 $</td>
                            </tr>

                            <tr>
                                <td><p>Возможность досрочного свитча ETF</p></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><p>Возможность докупить текущий ETF</p></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><p>Возможность докупить текущий ETF</p></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><p>Возможность покупки DEFI ETF</p></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><p>Возможность запуска стейкинг направления, участие в DISCORD airdrop</p></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><p>Возможность участия в промо</p></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><p>Бонус к процентной ставке на 1 активный ETF, при закрытии ступени статуса</p></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="affiliate-table_arrow"></div>

            </div>
        </div>
    </div>

    <div class="affiliate-3 affiliate-4">
        <div class="content">
            <div class="affiliate-content">
                <div class="affiliate-top">
                    <div class="affiliate-top_left">
                        <div class="affiliate-top_title">
                            <h2>можно развиваться <span>персонально</span></h2>
                        </div>

                    </div>

                    <div class="affiliate-top_caption">
                        <p>При нежелании привлекать партнеров для продвижения, можно развиваться персонально, получая уровни за определенные действия что даст возможность получить дополнительные опции для работы.</p>
                    </div>
                </div>

                <div class="affiliate-table">
                    <div class="affiliate-responsive">
                        <table class="">

                            <thead>
                            <tr>
                                <th>I-0</th>
                                <th>C-1</th>
                                <th>C-2</th>
                                <th>D-3</th>
                                <th>D-4</th>
                                <th>D-5</th>
                                <th>A-6</th>
                                <th>A-7</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td><p>Количество одновременно доступных к покупке ETF</p></td>
                                <td>100 $</td>
                                <td>100 $</td>
                                <td>100 $</td>
                                <td>100 $</td>
                                <td>100 $</td>
                                <td>100 $</td>
                                <td>100 $</td>
                            </tr>

                            <tr>
                                <td><p>Возможность досрочного свитча ETF</p></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><p>Возможность докупить текущий ETF</p></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><p>Возможность докупить текущий ETF</p></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><p>Возможность покупки DEFI ETF</p></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><p>Возможность запуска стейкинг направления, участие в DISCORD airdrop</p></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><p>Возможность участия в промо</p></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><p>Бонус к процентной ставке на 1 активный ETF, при закрытии ступени статуса</p></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="affiliate-table_arrow"></div>

            </div>
        </div>
    </div>

    <div class="affiliate-2">


        <div class="content">
            <div class="affiliate-content">
                <div class="affiliate-title affiliate-title_break">
                    <h2>Общие параметры и дополнительные <span>привилегии</span></h2>
                </div>

                <div class="affiliate-table">
                    <div class="affiliate-responsive">
                        <table class="">

                            <thead>
                            <tr>
                                <th></th>
                                <th class="text-left">Ассистент инвестиционного консультанта</th>
                                <th>Консультант</th>
                                <th>Продвинутый</th>
                                <th>Специалист</th>
                                <th>Эксперт</th>
                                <th>Руководитель</th>
                                <th>Региональный директор</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td><p>Количество привлеченных инвестиций</p></td>
                                <td>100 $</td>
                                <td>100 $</td>
                                <td>100 $</td>
                                <td>100 $</td>
                                <td>100 $</td>
                                <td>100 $</td>
                                <td>100 $</td>
                            </tr>

                            <tr>
                                <td><p>Необходимое количество активных партнеров для получения ступени статуса</p></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><p class="table_size">Доход</p></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="affiliate-table_arrow"></div>

                <div class="affiliate-vip">

                    <div class="affiliate-vip_title">
                        <h2><span>*VIP</span> статус :</h2>
                    </div>

                    <div class="affiliate-vip_list">

                        <p>Предварительный доступ к новым продуктам:</p>

                        <ul>
                            <li>Крупные инвесторы или клиенты с многолетним стажем могут получить предварительный доступ к новым продуктам или услугам компании.</li>
                        </ul>

                        <p>Голосование на собраниях акционеров:</p>

                        <ul>
                            <li>Акционеры компании могут иметь право голоса на собраниях акционеров, где они могут влиять на решения компании.</li>
                        </ul>

                        <p>Членство в совете директоров:</p>

                        <ul>
                            <li>Крупным инвесторам может быть предложено стать членами совета директоров компании.</li>
                        </ul>

                        <p>Эксклюзивные каналы связи:</p>

                        <ul>
                            <li>Компания может предоставлять своим самым ценным клиентам эксклюзивные каналы связи, такие как телефонная линия VIP-поддержки или адрес электронной почты.</li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="rolling-caption" class="b-rolling-caption">
        <div class="b-rolling-caption__wrap">
            <div class="b-rolling-caption__content">
                <span>Encrease your capital with etfrix</span>
                <span><i class="icon-rolling"></i></span>

                <span>Encrease your capital with etfrix</span>
                <span><i class="icon-rolling"></i></span>

                <span>Encrease your capital with etfrix</span>
                <span><i class="icon-rolling"></i></span>

                <span>Encrease your capital with etfrix</span>
                <span><i class="icon-rolling"></i></span>

                <span>Encrease your capital with etfrix</span>
                <span><i class="icon-rolling"></i></span>

                <span>Encrease your capital with etfrix</span>
                <span><i class="icon-rolling"></i></span>

            </div>
        </div>
    </div>






{% endblock %}