{% extends "layout/main.twig" %}

{% block content %}


    <div id="preloader">

        <div class="preloader-logo">
            <img src="../../img/preloader.svg" alt="">
        </div>

        <div class="type-wrap">
            <span id="typed"></span>
        </div>
    </div>

    <div class="figure-1"></div>

    <div class="banner">
    <div class="content">
        <div class="banner-content">
            <div class="banner-title">
                <h1>CURRENCY ARBITRAGE
                    INNOVATION IN THE AREA OF <span>CAPITAL GROWTH</span></h1>
            </div>

            <div class="banner-text">
                <p>An open international IT ecosystem <nobr>specializing in capital</nobr>  engineering</p>
            </div>

            <div class="banner-button">
                <button >
                    <a href="#" class="btn-noOrange">HOW TO START</a>
                </button>

                <button >
                    <a href="#" class="btn-orange">View products</a>
                </button>
            </div>
        </div>
    </div>
    </div>

    <div class="works">


    <div class="figure-5"></div>

    <div class="content">
        <div class="works-content">
            <div class="works-title">
                <h2>how works <span>ETFRIX</span></h2>
            </div>

            <div class="works-description">
                <p>Grayscale Bitcoin Trust is one of the first securities solely and passively invested in Bitcoin ("BTC") that enables investors to gain exposure to BTC in the form of a security while avoiding the challenges of buying, storing, and safekeeping BTC, directly. Shares (based on BTC per Share) are designed to reflect the value of BTC held by the Trust, determined by reference to the Index Price, less the Trust's expenses and other liabilities.</p>

                <p>Bitcoin is a digital asset that is created and transmitted through the operations of the peer-to-peer Bitcoin Network, a decentralized network of computers that operates on cryptographic protocols. The Bitcoin Network allows people to exchange tokens of value, Bitcoins, which are recorded on a public transaction ledger known as a Blockchain.</p>
            </div>
        </div>

        <div class="works-button">
            <a href="/account_1.html">
                <p>cabinet</p>

                <div class="cabinet-icon">
                    <i class="icon-user"></i>
                </div>
            </a>
        </div>
    </div>
    </div>

    <div id="rolling-caption" class="b-rolling-caption">
        <div class="b-rolling-caption__wrap">
            <div class="b-rolling-caption__content">
                <span>Encrease your capital with etfrix</span>
                <span><i class="icon-rolling"></i></span>

                <span>Encrease your capital with etfrix</span>
                <span><i class="icon-rolling"></i></span>

                <span>Encrease your capital with etfrix</span>
                <span><i class="icon-rolling"></i></span>

                <span>Encrease your capital with etfrix</span>
                <span><i class="icon-rolling"></i></span>

                <span>Encrease your capital with etfrix</span>
                <span><i class="icon-rolling"></i></span>

                <span>Encrease your capital with etfrix</span>
                <span><i class="icon-rolling"></i></span>

            </div>
        </div>
    </div>

    <div class="accordionBlock">

        <div class="figure-6"></div>

        <div class="accordionBlock-title">
            <div class="content">
                <h2>Advantages</h2>
            </div>
        </div>

        <div class="accordion accordion-flush" id="accordionFlushExample">

            <div class="accordion-item">

                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">

                        <div class="accordion-button_title">
                            <span class="accordion-button_icon">
                                <i class="icon-accordion"></i>
                            </span>
                            <h5>Relevance</h5>
                        </div>

                        <div class="accordion-button_text d-lg-block d-none">
                            <p>ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.</p>
                        </div>

                        <div class="accordion-button_arrow d-lg-none d-block"></div>

                    </button>
                </h2>

                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-parent="#accordionFlushExample">
                    <div class="accordion-body">

                        <div class="accordion-body_button">
                            <a href="#">Button</a>
                        </div>

                        <div class="accordion-body_text">
                            <p class="d-lg-none d-block">ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.</p>
                            <p>ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="accordion-item">

                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <div class="accordion-button_title">
                            <span class="accordion-button_icon">
                                <i class="icon-accordion"></i>
                            </span>
                            <h5>Speed</h5>
                        </div>

                        <div class="accordion-button_text d-lg-block d-none">
                            <p>ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.</p>
                        </div>

                        <div class="accordion-button_arrow d-lg-none d-block"></div>

                    </button>
                </h2>

                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-parent="#accordionFlushExample">
                    <div class="accordion-body">

                        <div class="accordion-body_button">
                            <a href="#">Button</a>
                        </div>

                        <div class="accordion-body_text">
                            <p class="d-lg-none d-block">ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.</p>
                            <p>ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.</p>
                        </div>


                    </div>
                </div>

            </div>

            <div class="accordion-item">

                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">

                        <div class="accordion-button_title">
                            <span class="accordion-button_icon">
                                <i class="icon-accordion"></i>
                            </span>
                            <h5>Relevance</h5>
                        </div>

                        <div class="accordion-button_text d-lg-block d-none">
                            <p>ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.</p>
                        </div>

                        <div class="accordion-button_arrow d-lg-none d-block"></div>

                    </button>
                </h2>

                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-parent="#accordionFlushExample">
                    <div class="accordion-body">

                        <div class="accordion-body_button">
                            <a href="#">Button</a>
                        </div>

                        <div class="accordion-body_text">
                            <p class="d-lg-none d-block">ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.</p>
                            <p>ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="accordion-item">

                <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        <div class="accordion-button_title">
                            <span class="accordion-button_icon">
                                <i class="icon-accordion"></i>
                            </span>
                            <h5>Speed</h5>
                        </div>

                        <div class="accordion-button_text d-lg-block d-none">
                            <p>ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.</p>
                        </div>

                        <div class="accordion-button_arrow d-lg-none d-block"></div>

                    </button>
                </h2>

                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-parent="#accordionFlushExample">
                    <div class="accordion-body">

                        <div class="accordion-body_button">
                            <a href="#">Button</a>
                        </div>

                        <div class="accordion-body_text">
                            <p class="d-lg-none d-block">ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.</p>
                            <p>ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.</p>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="connection">
        <div class="content">

            <div class="connection-content">
                <div class="connection-title">
                    <h2>EXAMPLES OF <span>CONNECTIONS</span></h2>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="connection-slider">

                            <div class="connection-item">

                                <div class="connection-item_block">
                                    <div class="connection-item_1">
                                        <div class="connection-item_logo">
                                            <img src="/img/logo_c1.png" alt="">
                                        </div>

                                        <div class="connection-item_currency">
                                            <span>usd</span>
                                        </div>
                                    </div>

                                    <div class="connection-item_2">

                                        <div class="connection-item_arrow1"></div>

                                        <div class="connection-item_text">
                                            <p>TRANSFER <br>
                                                CONVERT</p>
                                        </div>


                                        <div class="connection-item_arrow2"></div>


                                    </div>

                                    <div class="connection-item_3">
                                        <div class="connection-item_logo">
                                            <img src="/img/logo_c2.png" alt="">
                                        </div>

                                        <div class="connection-item_currency">
                                            <span>eur</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="connection-item">
                                <div class="connection-item_block">
                                    <div class="connection-item_1">
                                        <div class="connection-item_logo">
                                            <img src="/img/logo_c1.png" alt="">
                                        </div>

                                        <div class="connection-item_currency">
                                            <span>usd</span>
                                        </div>
                                    </div>

                                    <div class="connection-item_2">

                                        <div class="connection-item_arrow1"></div>

                                        <div class="connection-item_text">
                                            <p>TRANSFER <br>
                                                CONVERT</p>
                                        </div>


                                        <div class="connection-item_arrow2"></div>


                                    </div>

                                    <div class="connection-item_3">
                                        <div class="connection-item_logo">
                                            <img src="/img/logo_c2.png" alt="">
                                        </div>

                                        <div class="connection-item_currency">
                                            <span>eur</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="connection-item">
                                <div class="connection-item_block">
                                    <div class="connection-item_1">
                                        <div class="connection-item_logo">
                                            <img src="/img/logo_c1.png" alt="">
                                        </div>

                                        <div class="connection-item_currency">
                                            <span>usd</span>
                                        </div>
                                    </div>

                                    <div class="connection-item_2">

                                        <div class="connection-item_arrow1"></div>

                                        <div class="connection-item_text">
                                            <p>TRANSFER <br>
                                                CONVERT</p>
                                        </div>


                                        <div class="connection-item_arrow2"></div>


                                    </div>

                                    <div class="connection-item_3">
                                        <div class="connection-item_logo">
                                            <img src="/img/logo_c2.png" alt="">
                                        </div>

                                        <div class="connection-item_currency">
                                            <span>eur</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="connection-item">
                                <div class="connection-item_block">
                                    <div class="connection-item_1">
                                        <div class="connection-item_logo">
                                            <img src="/img/logo_c1.png" alt="">
                                        </div>

                                        <div class="connection-item_currency">
                                            <span>usd</span>
                                        </div>
                                    </div>

                                    <div class="connection-item_2">

                                        <div class="connection-item_arrow1"></div>

                                        <div class="connection-item_text">
                                            <p>TRANSFER <br>
                                                CONVERT</p>
                                        </div>


                                        <div class="connection-item_arrow2"></div>


                                    </div>

                                    <div class="connection-item_3">
                                        <div class="connection-item_logo">
                                            <img src="/img/logo_c2.png" alt="">
                                        </div>

                                        <div class="connection-item_currency">
                                            <span>eur</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="connection-item">
                                <div class="connection-item_block">
                                    <div class="connection-item_1">
                                        <div class="connection-item_logo">
                                            <img src="/img/logo_c1.png" alt="">
                                        </div>

                                        <div class="connection-item_currency">
                                            <span>usd</span>
                                        </div>
                                    </div>

                                    <div class="connection-item_2">

                                        <div class="connection-item_arrow1"></div>

                                        <div class="connection-item_text">
                                            <p>TRANSFER <br>
                                                CONVERT</p>
                                        </div>


                                        <div class="connection-item_arrow2"></div>


                                    </div>

                                    <div class="connection-item_3">
                                        <div class="connection-item_logo">
                                            <img src="/img/logo_c2.png" alt="">
                                        </div>

                                        <div class="connection-item_currency">
                                            <span>eur</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="connection-item">
                                <div class="connection-item_block">
                                    <div class="connection-item_1">
                                        <div class="connection-item_logo">
                                            <img src="/img/logo_c1.png" alt="">
                                        </div>

                                        <div class="connection-item_currency">
                                            <span>usd</span>
                                        </div>
                                    </div>

                                    <div class="connection-item_2">

                                        <div class="connection-item_arrow1"></div>

                                        <div class="connection-item_text">
                                            <p>TRANSFER <br>
                                                CONVERT</p>
                                        </div>


                                        <div class="connection-item_arrow2"></div>


                                    </div>

                                    <div class="connection-item_3">
                                        <div class="connection-item_logo">
                                            <img src="/img/logo_c2.png" alt="">
                                        </div>

                                        <div class="connection-item_currency">
                                            <span>eur</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="arrowIndex">
                            <div class="prev-index"></div>
                            <div class="next-index"></div>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>

    <div class="advantages">
        <div class="content">
            <div class="advantages-content">

                <div class="advantages-title">
                    <h2>Our <span>advantages</span></h2>
                </div>

                <div class="advantages-flex">

                    <div class="advantages-item">
                        <div class="advantages-item_icon">
                            <img src="/img/icons/ad_1.png" alt="">
                        </div>

                        <div class="advantages-item_title">
                            <h5>Actuality</h5>
                        </div>

                        <div class="advantages-item_text">
                            <p>P2PRO occupies an innovative niche IT-segment, having no analogues and competitors in the economic field.</p>
                        </div>
                    </div>

                    <div class="advantages-item">
                        <div class="advantages-item_icon">
                            <img src="/img/icons/ad_2.png" alt="">
                        </div>

                        <div class="advantages-item_title">
                            <h5>Speed</h5>
                        </div>

                        <div class="advantages-item_text">
                            <p>P2PRO occupies an innovative niche IT-segment, having no analogues and competitors in the economic field.</p>
                        </div>
                    </div>

                    <div class="advantages-item">
                        <div class="advantages-item_icon">
                            <img src="/img/icons/ad_3.png" alt="">
                        </div>

                        <div class="advantages-item_title">
                            <h5>Technology</h5>
                        </div>

                        <div class="advantages-item_text">
                            <p>P2PRO occupies an innovative niche IT-segment, having no analogues and competitors in the economic field.</p>
                        </div>
                    </div>

                    <div class="advantages-item">
                        <div class="advantages-item_icon">
                            <img src="/img/icons/ad_4.png" alt="">
                        </div>

                        <div class="advantages-item_title">
                            <h5>Guarantees</h5>
                        </div>

                        <div class="advantages-item_text">
                            <p>P2PRO occupies an innovative niche IT-segment, having no analogues and competitors in the economic field.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="video">
        <div class="video-text">
            <div id="text">
                <div class="content">

                    <div class="video-button">

                        <button class="js-toggle"></button>

                    </div>

                </div>
            </div>

            <div id="video-overlay"></div>
        </div>


        <div id="video-play">
            <video id="fullSizeVideo" preload='none' poster="" autoplay muted>
                <source id='mp4' src="../img/video.mp4" type='video/mp4' />
            </video>
        </div>
    </div>

    <div class="history">

        <div class="figure-9"></div>
        <div class="figure-10"></div>


        <div class="content">

            <div class="history-title">
                <h2><span>History</span> of ETFRIX</h2>
            </div>

            <div class="history-content">
                <div class="slider-for">

                    <div>
                        <div class="history-tab">
                            <div class="history-tab_left">
                                <div class="history-tab_title">
                                    <h2><span>History</span> <nobr>of ETFRIX</nobr></h2>
                                </div>


                                <div class="history-tab_year">
                                    <span>2014</span>
                                </div>
                            </div>

                            <div class="history-tab_right">
                                <div class="history-tab_title2">

                                    <div class="history-tab_icon">
                                        <i class="icon-tabArrow"></i>
                                    </div>

                                    <p>March 2014</p>
                                </div>

                                <div class="history-tab_description">
                                    <p>Among the main areas of currency arbitrage, we can highlight Interexchange. This option is classic and is based on the difference in rates between trading platforms.</p>

                                    <p>Among the main areas of currency arbitrage, we can highlight Interexchange. This option is classic and is based on the difference in rates between trading platforms.</p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div>text2</div>

                    <div>Текст3</div>
                    <div>Текст4</div>
                    <div>Текст5</div>
                    <div>Текст6</div>
                    <div>Текст7</div>
                    <div>Текст8</div>
                </div>

                <div class="slider-nav_block">
                    <div class="slider slider-nav">
                        <div>2014</div>
                        <div>2015</div>
                        <div>2016</div>
                        <div>2018</div>
                        <div>2020</div>
                        <div>2021</div>
                        <div>2023</div>
                        <div>2024</div>
                    </div>

                    <div class="slider-nav_arrow">

                        <div class="next-tabs"></div>
                    </div>
                </div>




            </div>
        </div>
    </div>

    <div class="tools">

        <div class="figure-8"></div>


        <div class="content">
            <div class="tools-content">
                <div class="tools-title">
                    <h2>TOOLS</h2>
                </div>
                
                <div class="tools-block">
                    <div class="tools-item">
                        <img src="/img/tools/ftx.png" alt="">
                    </div>

                    <div class="tools-item">
                        <img src="/img/tools/tink.png" alt="">
                    </div>

                    <div class="tools-item">
                        <img src="/img/tools/bin.png" alt="">
                    </div>

                    <div class="tools-item">
                        <img src="/img/tools/bit.png" alt="">
                    </div>

                    <div class="tools-item">
                        <img src="/img/tools/deut.png" alt="">
                    </div>

                    <div class="tools-item">
                        <img src="/img/tools/muf.png" alt="">
                    </div>

                    <div class="tools-item">
                        <img src="/img/tools/huob.png" alt="">
                    </div>

                    <div class="tools-item">
                        <img src="/img/tools/ic.png" alt="">
                    </div>

                    <div class="tools-item">
                        <img src="/img/tools/coin.png" alt="">
                    </div>

                    <div class="tools-item">
                        <img src="/img/tools/ku.png" alt="">
                    </div>

                    <div class="tools-item">
                        <img src="/img/tools/bank.png" alt="">
                    </div>

                    <div class="tools-item">
                        <img src="/img/tools/miz.png" alt="">
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="contacts">
        <div class="content">
            <div class="contacts-content">

                <div class="contacts-left">
                    <div class="contacts-left_title">
                        <h2><span>Contact</span> us</h2>
                    </div>

                    <div class="contacts-left_text">
                        <p>The ETFRIX ecosystem has the necessary set of official communication channels that cover the needs of modern communication. We advise you to subscribe to official pages on your preferred social networks and follow current news and updates. If you have a question, you can ask it through the feedback form.</p>
                    </div>

                    <a href="" class="contacts-left_support">
                        <div class="contacts-left_icon">
                            <i class="icon-support"></i>
                        </div>

                        <div class="contacts-left_caption">
                            <span>Support</span>
                        </div>
                    </a>
                </div>

                <div class="contacts-right">
                    <form action="">
                        <div class="form-group">
                            <label for="name" class="">Name</label>
                            <input id="name" class="input" type="text" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="email" class="">Email</label>
                            <input id="email" class="input" type="email" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="message" class="">Message</label>
                            <textarea id="message" rows="4" class="input"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="message" class="">How to contact you</label>
                            <div class="input-container mt-1">

                                <select class="input">


                                    <option class="option-form" value="value1">Telegram</option>
                                    <option class="option-form" value="value2">E-mail</option>
                                    <option class="option-form" value="value3">WhatsApp</option>

                                </select>

                            </div>
                        </div>

                        <a href="#" data-toggle="modal" data-target="#send" class="btn-form">Send</a>
                    </form>
                </div>

            </div>
        </div>
    </div>

    {% include  "block/send.twig"%}


{% endblock %}