{% extends "layout/main.twig" %}

{% block content %}

    <div class="figure-1"></div>

    <div class="banner">
        <div class="content">
            <div class="banner-content">
                <div class="banner-title">
                    <h1>REAL <br>
                        ESTATE<br>
                        <span>TOKENIZATION</span></h1>
                </div>

                <div class="banner-text">
                    <p>An open international IT ecosystem <nobr>specializing in capital</nobr>  engineering</p>
                </div>

                <div class="banner-button">
                    <button >
                        <a href="#" class="btn-noOrange">HOW TO START</a>
                    </button>

                    <button >
                        <a href="#" class="btn-orange">View products</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="works">


        <div class="figure-5"></div>

        <div class="content">
            <div class="works-content">

                <div class="works-title">
                    <h2>Lorem ipsum set <span>amet</span></h2>
                </div>

                <div class="works-description">
                    <p>Grayscale Bitcoin Trust is one of the first securities solely and passively invested in Bitcoin ("BTC") that enables investors to gain exposure to BTC in the form of a security while avoiding the challenges of buying, storing, and safekeeping BTC, directly. Shares (based on BTC per Share) are designed to reflect the value of BTC held by the Trust, determined by reference to the Index Price, less the Trust's expenses and other liabilities.</p>

                    <p>Bitcoin is a digital asset that is created and transmitted through the operations of the peer-to-peer Bitcoin Network, a decentralized network of computers that operates on cryptographic protocols. The Bitcoin Network allows people to exchange tokens of value, Bitcoins, which are recorded on a public transaction ledger known as a Blockchain.</p>
                </div>
            </div>


        </div>
    </div>

    <div id="rolling-caption" class="b-rolling-caption">
        <div class="b-rolling-caption__wrap">
            <div class="b-rolling-caption__content">
                <span>Encrease your capital with etfrix</span>
                <span><i class="icon-rolling"></i></span>

                <span>Encrease your capital with etfrix</span>
                <span><i class="icon-rolling"></i></span>

                <span>Encrease your capital with etfrix</span>
                <span><i class="icon-rolling"></i></span>

                <span>Encrease your capital with etfrix</span>
                <span><i class="icon-rolling"></i></span>

                <span>Encrease your capital with etfrix</span>
                <span><i class="icon-rolling"></i></span>

                <span>Encrease your capital with etfrix</span>
                <span><i class="icon-rolling"></i></span>

            </div>
        </div>
    </div>

    <div class="tokenization">
        <div class="content">
            <div class="tokenization-content">

                <div class="tokenization-title">
                    <h2>Почему выбирают <span>Etfrix?</span></h2>
                </div>

                <div class="row">
                    <div class="col-md-6 col-12 mt-md-0 mt-2">
                        <div class="tokenization-item">
                            <div class="tokenization-icon">
                                <img src="/img/icons/t_1.png" alt="">
                            </div>

                            <div class="tokenization-text">
                                <p>Grayscale Bitcoin Trust is one of the first securities solely and passively invested in Bitcoin ("BTC") that enables investors to gain exposure to BTC in the form of a security while avoid</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mt-md-0 mt-2">
                        <div class="tokenization-item">
                            <div class="tokenization-icon">
                                <img src="/img/icons/t_2.png" alt="">
                            </div>

                            <div class="tokenization-text">
                                <p>Grayscale Bitcoin Trust is one of the first securities solely and passively invested in Bitcoin ("BTC") that enables investors to gain exposure to BTC in the form of a security while avoid</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mt-2">
                        <div class="tokenization-item">
                            <div class="tokenization-icon">
                                <img src="/img/icons/t_3.png" alt="">
                            </div>

                            <div class="tokenization-text">
                                <p>Grayscale Bitcoin Trust is one of the first securities solely and passively invested in Bitcoin ("BTC") that enables investors to gain exposure to BTC in the form of a security while avoid</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mt-2">
                        <div class="tokenization-item">
                            <div class="tokenization-icon">
                                <img src="/img/icons/t_4.png" alt="">
                            </div>

                            <div class="tokenization-text">
                                <p>Grayscale Bitcoin Trust is one of the first securities solely and passively invested in Bitcoin ("BTC") that enables investors to gain exposure to BTC in the form of a security while avoid</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="tokenizationText">

        <div class="content">

            <div class="tokenizationText-content">

                    <div class="tokenizationText-title">
                        <h2>Lorem ipsum set <span>amet</span></h2>
                    </div>

                    <div class="tokenizationText-description">
                        <p>Grayscale Bitcoin Trust is one of the first securities solely and passively invested in Bitcoin ("BTC") that enables investors to gain exposure to BTC in the form of a security while avoiding the challenges of buying, storing, and safekeeping BTC, directly. Shares (based on BTC per Share) are designed to reflect the value of BTC held by the Trust, determined by reference to the Index Price, less the Trust's expenses and other liabilities. </p>
                        <p>Bitcoin is a digital asset that is created and transmitted through the operations of the peer-to-peer Bitcoin Network, a decentralized network of computers that operates on cryptographic protocols. The Bitcoin Network allows people to exchange tokens of value, Bitcoins, which are recorded on a public transaction ledger known as a Blockchain.</p>
                    </div>

            </div>


        </div>


    </div>

    <div class="accordionBlock">

        <div class="accordionBlock-title">
            <div class="content">
                <h2>Advantages</h2>
            </div>
        </div>

        <div class="accordion accordion-flush" id="accordionFlushExample">

            <div class="accordion-item">

                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">

                        <div class="accordion-button_title">
                            <span class="accordion-button_icon">
                                <i class="icon-accordion"></i>
                            </span>
                            <h5>Relevance</h5>
                        </div>

                        <div class="accordion-button_text d-lg-block d-none">
                            <p>ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.</p>
                        </div>

                        <div class="accordion-button_arrow d-lg-none d-block"></div>

                    </button>
                </h2>

                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-parent="#accordionFlushExample">
                    <div class="accordion-body">

                        <div class="accordion-body_button">
                            <a href="#">Button</a>
                        </div>

                        <div class="accordion-body_text">
                            <p class="d-lg-none d-block">ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.</p>
                            <p>ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="accordion-item">

                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <div class="accordion-button_title">
                            <span class="accordion-button_icon">
                                <i class="icon-accordion"></i>
                            </span>
                            <h5>Speed</h5>
                        </div>

                        <div class="accordion-button_text d-lg-block d-none">
                            <p>ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.</p>
                        </div>

                        <div class="accordion-button_arrow d-lg-none d-block"></div>

                    </button>
                </h2>

                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-parent="#accordionFlushExample">
                    <div class="accordion-body">

                        <div class="accordion-body_button">
                            <a href="#">Button</a>
                        </div>

                        <div class="accordion-body_text">
                            <p class="d-lg-none d-block">ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.</p>
                            <p>ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.</p>
                        </div>


                    </div>
                </div>

            </div>

            <div class="accordion-item">

                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">

                        <div class="accordion-button_title">
                            <span class="accordion-button_icon">
                                <i class="icon-accordion"></i>
                            </span>
                            <h5>Relevance</h5>
                        </div>

                        <div class="accordion-button_text d-lg-block d-none">
                            <p>ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.</p>
                        </div>

                        <div class="accordion-button_arrow d-lg-none d-block"></div>

                    </button>
                </h2>

                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-parent="#accordionFlushExample">
                    <div class="accordion-body">

                        <div class="accordion-body_button">
                            <a href="#">Button</a>
                        </div>

                        <div class="accordion-body_text">
                            <p class="d-lg-none d-block">ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.</p>
                            <p>ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="accordion-item">

                <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        <div class="accordion-button_title">
                            <span class="accordion-button_icon">
                                <i class="icon-accordion"></i>
                            </span>
                            <h5>Speed</h5>
                        </div>

                        <div class="accordion-button_text d-lg-block d-none">
                            <p>ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.</p>
                        </div>

                        <div class="accordion-button_arrow d-lg-none d-block"></div>

                    </button>
                </h2>

                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-parent="#accordionFlushExample">
                    <div class="accordion-body">

                        <div class="accordion-body_button">
                            <a href="#">Button</a>
                        </div>

                        <div class="accordion-body_text">
                            <p class="d-lg-none d-block">ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.</p>
                            <p>ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.ETFRIX has high-speed communication channels with exchanges and peeling requests, creating an advantage in conducting transactions.</p>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="advantages">
        <div class="content">
            <div class="advantages-content">

                <div class="advantages-title">
                    <h2>Process of Real Estate <span>Tokenization</span></h2>
                </div>

                <div class="advantages-flex">

                    <div class="advantages-item">
                        <div class="advantages-item_icon">
                            <img src="/img/icons/t_1.png" alt="">
                        </div>

                        <div class="advantages-item_title">
                            <h5>Headline</h5>
                        </div>

                        <div class="advantages-item_text">
                            <p>P2PRO occupies an innovative niche IT-segment, having no analogues and competitors in the economic field.</p>
                        </div>
                    </div>

                    <div class="advantages-item">
                        <div class="advantages-item_icon">
                            <img src="/img/icons/t_2.png" alt="">
                        </div>

                        <div class="advantages-item_title">
                            <h5>Headline</h5>
                        </div>

                        <div class="advantages-item_text">
                            <p>P2PRO occupies an innovative niche IT-segment, having no analogues and competitors in the economic field.</p>
                        </div>
                    </div>

                    <div class="advantages-item">
                        <div class="advantages-item_icon">
                            <img src="/img/icons/t_3.png" alt="">
                        </div>

                        <div class="advantages-item_title">
                            <h5>Headline</h5>
                        </div>

                        <div class="advantages-item_text">
                            <p>P2PRO occupies an innovative niche IT-segment, having no analogues and competitors in the economic field.</p>
                        </div>
                    </div>

                    <div class="advantages-item">
                        <div class="advantages-item_icon">
                            <img src="/img/icons/t_4.png" alt="">
                        </div>

                        <div class="advantages-item_title">
                            <h5>Headline</h5>
                        </div>

                        <div class="advantages-item_text">
                            <p>P2PRO occupies an innovative niche IT-segment, having no analogues and competitors in the economic field.</p>
                        </div>
                    </div>

                </div>

                <div class="advantages-button">
                    <a href="#" data-toggle="modal" data-target="#send_2" class="btn-form_2">Send</a>
                </div>

            </div>
        </div>
    </div>

    <div class="bondToken">
        <div class="content">

            <div class="bondToken-title">
                <h2>Наша цифровая <span>документация</span></h2>
            </div>

            <div class="bondToken-content">

                <div class="bondToken-content__item">

                    <span class="bondToken-content__span">Bond Token</span>

                    <h3 class="bondToken-content__title">Orgenic Oy Convertible Bond 2025</h3>

                    <div class="bondToken-content__price">
                        <p>USD 1.162.000,00</p>
                        <span>Total issuance amount</span>
                    </div>

                    <h3 class="bondToken-content__subtitle">Token details</h3>

                    <div class="bondToken-content__details">
                        <div class="bondToken-content__left">
                            <p>FI4000586763</p>
                            <span>USIN</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>10,0 %</p>
                            <span>interest rate</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>USD 250</p>
                            <span>Token nominal value</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>April 18, 2025</p>
                            <span>Date of issuance</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>April 16, 2030</p>
                            <span>Date of Maturity</span>
                        </div>
                    </div>

                    <div class="bondToken-content__pdf">
                        <a href="#">View Terms of issue</a>
                    </div>

                    <div class="bondToken-content__link">
                        <a href="#">Open on Blockchain</a>
                    </div>
                </div>

                <div class="bondToken-content__item">

                    <span class="bondToken-content__span">Bond Token</span>

                    <h3 class="bondToken-content__title">Orgenic Oy Convertible Bond 2025</h3>

                    <div class="bondToken-content__price">
                        <p>USD 1.162.000,00</p>
                        <span>Total issuance amount</span>
                    </div>

                    <h3 class="bondToken-content__subtitle">Token details</h3>

                    <div class="bondToken-content__details">
                        <div class="bondToken-content__left">
                            <p>FI4000586763</p>
                            <span>USIN</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>10,0 %</p>
                            <span>interest rate</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>USD 250</p>
                            <span>Token nominal value</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>April 18, 2025</p>
                            <span>Date of issuance</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>April 16, 2030</p>
                            <span>Date of Maturity</span>
                        </div>
                    </div>

                    <div class="bondToken-content__pdf">
                        <a href="#">View Terms of issue</a>
                    </div>

                    <div class="bondToken-content__link">
                        <a href="#">Open on Blockchain</a>
                    </div>
                </div>

                <div class="bondToken-content__item">

                    <span class="bondToken-content__span">Bond Token</span>

                    <h3 class="bondToken-content__title">Orgenic Oy Convertible Bond 2025</h3>

                    <div class="bondToken-content__price">
                        <p>USD 1.162.000,00</p>
                        <span>Total issuance amount</span>
                    </div>

                    <h3 class="bondToken-content__subtitle">Token details</h3>

                    <div class="bondToken-content__details">
                        <div class="bondToken-content__left">
                            <p>FI4000586763</p>
                            <span>USIN</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>10,0 %</p>
                            <span>interest rate</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>USD 250</p>
                            <span>Token nominal value</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>April 18, 2025</p>
                            <span>Date of issuance</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>April 16, 2030</p>
                            <span>Date of Maturity</span>
                        </div>
                    </div>

                    <div class="bondToken-content__pdf">
                        <a href="#">View Terms of issue</a>
                    </div>

                    <div class="bondToken-content__link">
                        <a href="#">Open on Blockchain</a>
                    </div>
                </div>

                <div class="bondToken-content__item">

                    <span class="bondToken-content__span">Bond Token</span>

                    <h3 class="bondToken-content__title">Orgenic Oy Convertible Bond 2025</h3>

                    <div class="bondToken-content__price">
                        <p>USD 1.162.000,00</p>
                        <span>Total issuance amount</span>
                    </div>

                    <h3 class="bondToken-content__subtitle">Token details</h3>

                    <div class="bondToken-content__details">
                        <div class="bondToken-content__left">
                            <p>FI4000586763</p>
                            <span>USIN</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>10,0 %</p>
                            <span>interest rate</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>USD 250</p>
                            <span>Token nominal value</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>April 18, 2025</p>
                            <span>Date of issuance</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>April 16, 2030</p>
                            <span>Date of Maturity</span>
                        </div>
                    </div>

                    <div class="bondToken-content__pdf">
                        <a href="#">View Terms of issue</a>
                    </div>

                    <div class="bondToken-content__link">
                        <a href="#">Open on Blockchain</a>
                    </div>
                </div>

                <div class="bondToken-content__item">

                    <span class="bondToken-content__span">Bond Token</span>

                    <h3 class="bondToken-content__title">Orgenic Oy Convertible Bond 2025</h3>

                    <div class="bondToken-content__price">
                        <p>USD 1.162.000,00</p>
                        <span>Total issuance amount</span>
                    </div>

                    <h3 class="bondToken-content__subtitle">Token details</h3>

                    <div class="bondToken-content__details">
                        <div class="bondToken-content__left">
                            <p>FI4000586763</p>
                            <span>USIN</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>10,0 %</p>
                            <span>interest rate</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>USD 250</p>
                            <span>Token nominal value</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>April 18, 2025</p>
                            <span>Date of issuance</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>April 16, 2030</p>
                            <span>Date of Maturity</span>
                        </div>
                    </div>

                    <div class="bondToken-content__pdf">
                        <a href="#">View Terms of issue</a>
                    </div>

                    <div class="bondToken-content__link">
                        <a href="#">Open on Blockchain</a>
                    </div>
                </div>

                <div class="bondToken-content__item">

                    <span class="bondToken-content__span">Bond Token</span>

                    <h3 class="bondToken-content__title">Orgenic Oy Convertible Bond 2025</h3>

                    <div class="bondToken-content__price">
                        <p>USD 1.162.000,00</p>
                        <span>Total issuance amount</span>
                    </div>

                    <h3 class="bondToken-content__subtitle">Token details</h3>

                    <div class="bondToken-content__details">
                        <div class="bondToken-content__left">
                            <p>FI4000586763</p>
                            <span>USIN</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>10,0 %</p>
                            <span>interest rate</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>USD 250</p>
                            <span>Token nominal value</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>April 18, 2025</p>
                            <span>Date of issuance</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>April 16, 2030</p>
                            <span>Date of Maturity</span>
                        </div>
                    </div>

                    <div class="bondToken-content__pdf">
                        <a href="#">View Terms of issue</a>
                    </div>

                    <div class="bondToken-content__link">
                        <a href="#">Open on Blockchain</a>
                    </div>
                </div>

                <div class="bondToken-content__item">

                    <span class="bondToken-content__span">Bond Token</span>

                    <h3 class="bondToken-content__title">Orgenic Oy Convertible Bond 2025</h3>

                    <div class="bondToken-content__price">
                        <p>USD 1.162.000,00</p>
                        <span>Total issuance amount</span>
                    </div>

                    <h3 class="bondToken-content__subtitle">Token details</h3>

                    <div class="bondToken-content__details">
                        <div class="bondToken-content__left">
                            <p>FI4000586763</p>
                            <span>USIN</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>10,0 %</p>
                            <span>interest rate</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>USD 250</p>
                            <span>Token nominal value</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>April 18, 2025</p>
                            <span>Date of issuance</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>April 16, 2030</p>
                            <span>Date of Maturity</span>
                        </div>
                    </div>

                    <div class="bondToken-content__pdf">
                        <a href="#">View Terms of issue</a>
                    </div>

                    <div class="bondToken-content__link">
                        <a href="#">Open on Blockchain</a>
                    </div>
                </div>

                <div class="bondToken-content__item">

                    <span class="bondToken-content__span">Bond Token</span>

                    <h3 class="bondToken-content__title">Orgenic Oy Convertible Bond 2025</h3>

                    <div class="bondToken-content__price">
                        <p>USD 1.162.000,00</p>
                        <span>Total issuance amount</span>
                    </div>

                    <h3 class="bondToken-content__subtitle">Token details</h3>

                    <div class="bondToken-content__details">
                        <div class="bondToken-content__left">
                            <p>FI4000586763</p>
                            <span>USIN</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>10,0 %</p>
                            <span>interest rate</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>USD 250</p>
                            <span>Token nominal value</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>April 18, 2025</p>
                            <span>Date of issuance</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>April 16, 2030</p>
                            <span>Date of Maturity</span>
                        </div>
                    </div>

                    <div class="bondToken-content__pdf">
                        <a href="#">View Terms of issue</a>
                    </div>

                    <div class="bondToken-content__link">
                        <a href="#">Open on Blockchain</a>
                    </div>
                </div>

                <div class="bondToken-content__item">

                    <span class="bondToken-content__span">Bond Token</span>

                    <h3 class="bondToken-content__title">Orgenic Oy Convertible Bond 2025</h3>

                    <div class="bondToken-content__price">
                        <p>USD 1.162.000,00</p>
                        <span>Total issuance amount</span>
                    </div>

                    <h3 class="bondToken-content__subtitle">Token details</h3>

                    <div class="bondToken-content__details">
                        <div class="bondToken-content__left">
                            <p>FI4000586763</p>
                            <span>USIN</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>10,0 %</p>
                            <span>interest rate</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>USD 250</p>
                            <span>Token nominal value</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>April 18, 2025</p>
                            <span>Date of issuance</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>April 16, 2030</p>
                            <span>Date of Maturity</span>
                        </div>
                    </div>

                    <div class="bondToken-content__pdf">
                        <a href="#">View Terms of issue</a>
                    </div>

                    <div class="bondToken-content__link">
                        <a href="#">Open on Blockchain</a>
                    </div>
                </div>

                <div class="bondToken-content__item">

                    <span class="bondToken-content__span">Bond Token</span>

                    <h3 class="bondToken-content__title">Orgenic Oy Convertible Bond 2025</h3>

                    <div class="bondToken-content__price">
                        <p>USD 1.162.000,00</p>
                        <span>Total issuance amount</span>
                    </div>

                    <h3 class="bondToken-content__subtitle">Token details</h3>

                    <div class="bondToken-content__details">
                        <div class="bondToken-content__left">
                            <p>FI4000586763</p>
                            <span>USIN</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>10,0 %</p>
                            <span>interest rate</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>USD 250</p>
                            <span>Token nominal value</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>April 18, 2025</p>
                            <span>Date of issuance</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>April 16, 2030</p>
                            <span>Date of Maturity</span>
                        </div>
                    </div>

                    <div class="bondToken-content__pdf">
                        <a href="#">View Terms of issue</a>
                    </div>

                    <div class="bondToken-content__link">
                        <a href="#">Open on Blockchain</a>
                    </div>
                </div>

                <div class="bondToken-content__item">

                    <span class="bondToken-content__span">Bond Token</span>

                    <h3 class="bondToken-content__title">Orgenic Oy Convertible Bond 2025</h3>

                    <div class="bondToken-content__price">
                        <p>USD 1.162.000,00</p>
                        <span>Total issuance amount</span>
                    </div>

                    <h3 class="bondToken-content__subtitle">Token details</h3>

                    <div class="bondToken-content__details">
                        <div class="bondToken-content__left">
                            <p>FI4000586763</p>
                            <span>USIN</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>10,0 %</p>
                            <span>interest rate</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>USD 250</p>
                            <span>Token nominal value</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>April 18, 2025</p>
                            <span>Date of issuance</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>April 16, 2030</p>
                            <span>Date of Maturity</span>
                        </div>
                    </div>

                    <div class="bondToken-content__pdf">
                        <a href="#">View Terms of issue</a>
                    </div>

                    <div class="bondToken-content__link">
                        <a href="#">Open on Blockchain</a>
                    </div>
                </div>

                <div class="bondToken-content__item">

                    <span class="bondToken-content__span">Bond Token</span>

                    <h3 class="bondToken-content__title">Orgenic Oy Convertible Bond 2025</h3>

                    <div class="bondToken-content__price">
                        <p>USD 1.162.000,00</p>
                        <span>Total issuance amount</span>
                    </div>

                    <h3 class="bondToken-content__subtitle">Token details</h3>

                    <div class="bondToken-content__details">
                        <div class="bondToken-content__left">
                            <p>FI4000586763</p>
                            <span>USIN</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>10,0 %</p>
                            <span>interest rate</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>USD 250</p>
                            <span>Token nominal value</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>April 18, 2025</p>
                            <span>Date of issuance</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>April 16, 2030</p>
                            <span>Date of Maturity</span>
                        </div>
                    </div>

                    <div class="bondToken-content__pdf">
                        <a href="#">View Terms of issue</a>
                    </div>

                    <div class="bondToken-content__link">
                        <a href="#">Open on Blockchain</a>
                    </div>
                </div>

                <div class="bondToken-content__item">

                    <span class="bondToken-content__span">Bond Token</span>

                    <h3 class="bondToken-content__title">Orgenic Oy Convertible Bond 2025</h3>

                    <div class="bondToken-content__price">
                        <p>USD 1.162.000,00</p>
                        <span>Total issuance amount</span>
                    </div>

                    <h3 class="bondToken-content__subtitle">Token details</h3>

                    <div class="bondToken-content__details">
                        <div class="bondToken-content__left">
                            <p>FI4000586763</p>
                            <span>USIN</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>10,0 %</p>
                            <span>interest rate</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>USD 250</p>
                            <span>Token nominal value</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>April 18, 2025</p>
                            <span>Date of issuance</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>April 16, 2030</p>
                            <span>Date of Maturity</span>
                        </div>
                    </div>

                    <div class="bondToken-content__pdf">
                        <a href="#">View Terms of issue</a>
                    </div>

                    <div class="bondToken-content__link">
                        <a href="#">Open on Blockchain</a>
                    </div>
                </div>

                <div class="bondToken-content__item">

                    <span class="bondToken-content__span">Bond Token</span>

                    <h3 class="bondToken-content__title">Orgenic Oy Convertible Bond 2025</h3>

                    <div class="bondToken-content__price">
                        <p>USD 1.162.000,00</p>
                        <span>Total issuance amount</span>
                    </div>

                    <h3 class="bondToken-content__subtitle">Token details</h3>

                    <div class="bondToken-content__details">
                        <div class="bondToken-content__left">
                            <p>FI4000586763</p>
                            <span>USIN</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>10,0 %</p>
                            <span>interest rate</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>USD 250</p>
                            <span>Token nominal value</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>April 18, 2025</p>
                            <span>Date of issuance</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>April 16, 2030</p>
                            <span>Date of Maturity</span>
                        </div>
                    </div>

                    <div class="bondToken-content__pdf">
                        <a href="#">View Terms of issue</a>
                    </div>

                    <div class="bondToken-content__link">
                        <a href="#">Open on Blockchain</a>
                    </div>
                </div>

                <div class="bondToken-content__item">

                    <span class="bondToken-content__span">Bond Token</span>

                    <h3 class="bondToken-content__title">Orgenic Oy Convertible Bond 2025</h3>

                    <div class="bondToken-content__price">
                        <p>USD 1.162.000,00</p>
                        <span>Total issuance amount</span>
                    </div>

                    <h3 class="bondToken-content__subtitle">Token details</h3>

                    <div class="bondToken-content__details">
                        <div class="bondToken-content__left">
                            <p>FI4000586763</p>
                            <span>USIN</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>10,0 %</p>
                            <span>interest rate</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>USD 250</p>
                            <span>Token nominal value</span>
                        </div>

                        <div class="bondToken-content__right">
                            <p>April 18, 2025</p>
                            <span>Date of issuance</span>
                        </div>
                    </div>

                    <div class="bondToken-content__details_2">
                        <div class="bondToken-content__left">
                            <p>April 16, 2030</p>
                            <span>Date of Maturity</span>
                        </div>
                    </div>

                    <div class="bondToken-content__pdf">
                        <a href="#">View Terms of issue</a>
                    </div>

                    <div class="bondToken-content__link">
                        <a href="#">Open on Blockchain</a>
                    </div>
                </div>

            </div>

        </div>
    </div>


{% include  "block/send_2.twig"%}
{% endblock %}

