{% extends "layout/login.twig" %}

{% block content %}

    <div class="figure-3"></div>
    <div class="figure-4"></div>

    <div class="verification">
        <div class="content">
            <div class="verification-content">
                <div class="verification-title">
                    <h5>verification</h5>
                </div>

                <div class="verification-file ">

                    <div class="verification-item">

                        <div class="verification-number">
                            <span>01</span>
                        </div>

                        <div class="verification-text">
                            <p>Фото первой страницы паспорта или лицевая сторона водительского удостоверения / ID карты</p>
                        </div>

                        <div class="verification-select">
                            <input type="file" class="custom-file">
                        </div>

                        <div class="verification-caption">
                            <span>Допустимые разрешения: jpeg. jpg. png. максимальный размер 5MB </span>
                        </div>

                    </div>

                    <div class="verification-item">

                        <div class="verification-number">
                            <span>02</span>
                        </div>

                        <div class="verification-text">
                            <p>Фото первой страницы паспорта или лицевая сторона водительского удостоверения / ID карты</p>
                        </div>

                        <div class="verification-select">
                            <input type="file" class="custom-file custom-file_success">
                        </div>

                        <div class="verification-caption">
                            <span>Допустимые разрешения: jpeg. jpg. png. максимальный размер 5MB </span>
                        </div>

                    </div>

                    <div class="verification-item">

                        <div class="verification-number">
                            <span>03</span>
                        </div>

                        <div class="verification-text">
                            <p>Фото первой страницы паспорта или лицевая сторона водительского удостоверения / ID карты</p>
                        </div>

                        <div class="verification-select">
                            <input type="file" class="custom-file">
                        </div>

                        <div class="verification-caption">
                            <span>Допустимые разрешения: jpeg. jpg. png. максимальный размер 5MB </span>
                        </div>

                    </div>

                    <div class="verification-item">

                        <div class="verification-number">
                            <span>04</span>
                        </div>

                        <div class="verification-text">
                            <p>Фото первой страницы паспорта или лицевая сторона водительского удостоверения / ID карты</p>
                        </div>

                        <div class="verification-select">
                            <input type="file" class="custom-file">
                        </div>

                        <div class="verification-caption">
                            <span>Допустимые разрешения: jpeg. jpg. png. максимальный размер 5MB </span>
                        </div>

                    </div>


                </div>

                <div class="verification-success mt-4">
                    <div class="verification-success_icon">
                        <i class="icon-successBig"></i>
                    </div>

                    <div class="verification-success_text">
                        <p>Ваши данные на верификации, средний срок подтверждения верификации 24 часа</p>
                    </div>

                    <div class="verification-success_button">
                        <button>Ok</button>
                    </div>
                </div>



            </div>
        </div>
    </div>

{% endblock %}