<div class="customModal_4">
    <div class="modal fade activity_modal" id="arbitration" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">



            <div class="modal-content">

                <div class="figure-18"></div>

                <div class="modal-close">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body">

                    <div class="modal-title">
                        <h3>АРБИТРАЖНОЕ НАПРАВЛЕНИЕ</h3>
                    </div>

                    <div class="modal-button">

                        <div class="modal-button_item">
                            <a href="#" data-toggle="modal" data-target="#arbitration_3">
                                <div>
                                    <span>ARBITRAGE</span>
                                    <p>MAIN</p>
                                </div>
                            </a>
                        </div>

                        <div class="modal-button_item">
                            <a href="#" data-toggle="modal" data-target="#arbitration_4">
                                <div>
                                    <span>ARBITRAGE</span>
                                    <p>DEX</p>
                                </div>
                            </a>
                        </div>


                    </div>

                </div>


            </div>
        </div>
    </div>
</div>

{% include  "arbitration_3.twig"%}
{% include  "arbitration_4.twig"%}



