<div class="customModal_5">
    <div class="modal fade activity_modal" id="arbitration_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">



            <div class="modal-content">

                <div class="figure-19"></div>
                
                <div class="modal-back">
                    <a href="#" data-toggle="modal" data-target="#arbitration_2" class="back-arrow back-myarrow "></a>
                </div>

                <div class="modal-close">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body">

                    <div class="modal-title">
                        <h3>АРБИТРАЖНОЕ НАПРАВЛЕНИЕ</h3>
                    </div>

                    <div class="modal-center">

                        <button class="modal-center_item check-btn" id="modal-btn">
                            <p>ProShares BITO</p>
                        </button>

                        <button class="modal-center_item" id="modal-btn">
                            <p>Valkyrie BTF</p>
                        </button >

                        <button class="modal-center_item" id="modal-btn">
                            <div>
                                <p>VanEck XBTF</p>
                            </div>
                        </button >

                    </div>

                    <div class="modal-currency">

                        <div class="modal-currency_left">
                            <div class="modal-currency_item">
                                <div class="modal-currency_p">
                                    <p>Дата начала:</p>
                                </div>

                                <div class="modal-currency_span">
                                    <span>12.02.2024</span>
                                </div>
                            </div>

                            <div class="modal-currency_item">
                                <div class="modal-currency_p">
                                    <p>Дата окончания:</p>
                                </div>

                                <div class="modal-currency_span">
                                    <span>12.02.2024</span>
                                </div>
                            </div>

                            <div class="modal-currency_item">
                                <div class="modal-currency_p">
                                    <p>Стоимость ETF :</p>
                                </div>

                                <div class="modal-currency_span">
                                    <span>1000 USDT - 8000 USDT</span>
                                </div>
                            </div>

                            <div class="modal-currency_item">
                                <div class="modal-currency_p modal-currency_display">
                                    <p>Прогнозируемая доходность :</p>
                                    <p>Доходность :</p>
                                </div>

                                <div class="modal-currency_span">
                                    <span>35 % за период</span>
                                </div>
                            </div>

                            <div class="modal-currency_button">
                                <a href="#" data-toggle="modal" data-target="#text">Подробнее</a>
                            </div>


                        </div>

                        <div class="modal-currency_right">
                            <div class="modal-text">
                                <div class="modal-text_title">
                                    <h3>Сумма ваших активов</h3>
                                </div>

                                <div class="modal-text_sum">
                                    <div class="modal-text_icon">
                                        <i class="icon-tephBig"></i>
                                    </div>

                                    <div class="modal-text_caption">
                                        <p>0.00</p>
                                        <span>Usdt</span>
                                    </div>
                                </div>
                            </div>
                            <form class="form">

                                <div class="form-group">

                                    <div class="modal-select">
                                        <label for="sum">Сумма инвестиций USDT</label>

                                        <input type="text" id="sum" class="form-control" placeholder="0.00" value="0.00">
                                    </div>
                                </div>


                            </form>
                        </div>


                    </div>


                    
                    <div class="modal-button">
                        <a href="#">ИНВЕСТИРОВАТЬ</a>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>




