<div class="customModal_4">
    <div class="modal fade activity_modal" id="arbitration_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">



            <div class="modal-content">

                <div class="figure-19"></div>

                <div class="modal-close">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body">

                    <div class="modal-title">
                        <h3>АРБИТРАЖНОЕ НАПРАВЛЕНИЕ</h3>
                    </div>

                    <div class="modal-button__arbitration">

                        <div class="modal-button_item">
                            <a href="#" data-toggle="modal" data-target="#arbitration_2">
                                <div>
                                    <p>Финансовый регион USA</p>
                                </div>
                            </a>
                        </div>

                        <div class="modal-button_item">
                            <a href="#" data-toggle="modal" data-target="#arbitration_2">
                                <div>
                                    <p>Финансовый регион EU</p>
                                </div>
                            </a>
                        </div>

                        <div class="modal-button_item mt-lg-3 mt-0">
                            <a href="#" data-toggle="modal" data-target="#arbitration_2">
                                <div>
                                    <p>Финансовый регион Asia</p>
                                </div>
                            </a>
                        </div>

                        <div class="modal-button_item mt-lg-3 mt-0">
                            <a href="#" data-toggle="modal" data-target="#arbitration_2">
                                <div>
                                    <p>Финансовый регион <br> Middle East</p>
                                </div>
                            </a>
                        </div>


                    </div>

                </div>


            </div>
        </div>
    </div>
</div>

{% include  "arbitration_2.twig"%}


