<div class="customModal_2">
    <div class="modal fade activity_modal" id="boost" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">



            <div class="modal-content">

                <div class="modal-close">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body">

                    <div class="modal-title">
                        <h3>RIX AI BOOST</h3>
                    </div>

                    <div class="modal-body__boost">
                        <p>Дата активации подписки: 25.02.2025</p>
                        <p>Дата окончания подписки: 25.03.2025</p>
                        <p>Текущий бонус подписки: 0.1% в день</p>
                        <p>Доход от подписки: 248 USDT</p>
                    </div>

                    <div class="modal-body__accordion">

                        <div class="accordion" id="accordionButton">
                            <div class="card">
                                <div class="card-header" id="headingOne">

                                    <button class="" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Подробнее
                                    </button>

                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionButton">
                                    <div class="card-body">
                                        При активации подписки с вашего основного баланса будет списана сумма в размере 250 USDT
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-body__next">
                        <a href="#" data-toggle="modal" data-target="#success-boost">Продолжить</a>
                    </div>



                </div>


            </div>
        </div>
    </div>
</div>


    {% include  "success-boost.twig"%}

