<div class="customModal_2">
    <div class="modal fade activity_modal" id="conclusion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">



            <div class="modal-content modal-content_2">

                <div class="figure-17"></div>

                <div class="modal-close">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body">

                    <div class="modal-title">
                        <h3>Заявка на вывод средств</h3>
                    </div>

                    <div class="modal-qr_2">
                        <div class="modal-qr_right">

                            <div class="totalInfo-left_block mt-0">
                                <div class="totalInfo-left_icon">
                                    <i class="icon-teph"></i>
                                </div>

                                <div class="totalInfo-left_text">
                                    <p>Вывод в USDT TRC-20</p>
                                </div>
                            </div>

                            <div class="modal-qr_form">
                                <div class="form">
                                    <div class="form-group">

                                        <div class="modal-select">
                                            <label for="address-conclusion">Введите адрес USDT</label>

                                            <input type="text" id="address-conclusion" class="form-control" placeholder="" >
                                        </div>
                                    </div>

                                </div>
                            </div>




                        </div>
                    </div>

                    <div class="modal-qr_hash mt-1">
                        <div class="form">
                            <div class="form-group">

                                <div class="modal-select">
                                    <label for="sum-2">Введите сумму</label>

                                    <input type="text" id="sum-2" class="form-control" placeholder="">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal-button">
                        <button>
                            <a href="#" class="btn-continue_1" data-toggle="modal" data-target="#processing">Продолжить</a>
                        </button>

                        <button>
                            <a href="#" class="btn-support_1">Поддержка</a>
                        </button>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>




