<div class="customModal_5">
    <div class="modal fade activity_modal" id="description" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">



            <div class="modal-content modal-content_2">

                <div class="modal-close">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    <div class="modal-body__desc--title">
                        <h3>Лев Альбедо – Проводник небесных откровений</h3>
                    </div>


                    <p>Когда первые солнечные лучи пробиваются сквозь утренний туман, на вершинах облаков возникает ослепительно белоснежная фигура льва. Его голова, высеченная из безупречного бриллианта, сияет, словно кристалл в лучах восходящего солнца. За Альбедо следует целая стая львов, словно ведомых таинственной силой, что зовёт их к новым высотам.</p>
                    <p><strong>Обитание</strong><br>
                        Альбедо обитает в бескрайнем небесном царстве, где каждый шаг словно ступень к чему-то великому. Говорят, что его тропы пересекаются с линиями судьбы тех, кто ищет освобождения от страхов — будь то страх бедности или боязнь остаться в одиночестве.</p>
                    <p><strong>Характер и символика</strong>Этот лев воплощает чистоту намерений и высшую надежду. Его белоснежная шерсть отражает веру в то, что каждый может подняться над серой рутиной и найти свою дорогу к благополучию. Бриллиантовая голова символизирует просветлённое сознание, которое не поддаётся тьме сомнений. Альбедо ведёт свой прайд вперёд, показывая, что за облаками всегда есть ясное небо.</p>
                    <p>Люди, встретившие Альбедо, начинают верить, что ничто не может удержать их от достижения желаемого. Его присутствие побуждает отбросить страхи и увидеть, что мир гораздо шире любых ограничений. Сияние бриллианта в его гриве напоминает: нет бедности, страшнее той, что живёт в душе, и нет сокровищ ценнее света, который мы находим в себе.</p>
                    <p>Миссия Альбедо – стать путеводной звездой для тех, кто стремится к внутренней свободе и процветанию. Его путь учит: чтобы взойти над тучами повседневности, нужно осмелиться сделать первый шаг навстречу собственному сиянию.</p>



                </div>


            </div>
        </div>
    </div>
</div>