<div class="customModal_2">
    <div class="modal fade activity_modal" id="description_open" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">



            <div class="modal-content modal-content_2">

                <div class="modal-close">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body">

                    <div class="modal-title">
                        <h3>Альфредо</h3>
                    </div>

                    <div class="modal-desc__text">
                        <p>Цена на графический юнит - 0.057 USDT <br>
                        Ваша коллекция - 4 юнита</p>

                        <p>Продажа возможно от 10 юнитов</p>
                    </div>

                    <div class="form-group">

                        <div class="modal-select">
                            <label for="topUpAmountSale">Введите количество к продаже</label>

                            <input type="text" id="topUpAmountSale" class="form-control simpleDigits" placeholder="0">
                        </div>
                    </div>

                    <div class="modal-desc__sale">
                        <p>Вы получите после продажи: 4 USDT</p>
                    </div>

                    <div class="modal-descButton">
                        <a href="#" data-toggle="modal" data-target="#sale">Продать</a>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>