<div class="customModal_3">
    <div class="modal fade activity_modal" id="exchange" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">



            <div class="modal-content">

                <div class="figure-17"></div>

                <div class="modal-close">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body">

                    <div class="modal-title">
                        <h3>Обменять</h3>
                    </div>

                    <div class="modal-exchange">

                        <div class="modal-exchange_item exchangeBackground-1">

                            <div class="form-group">

                                <div class="modal-flex_input">
                                    <div class="modal-select">
                                        <label for="select">I have 0 Bitcoin</label>

                                        <div class="modal-selectBlock">
                                            <select name="select" id="select" class="select-single">
                                                <option value="" data-icon="icon-btc">BTC</option>
                                                <option value="" data-icon="icon-teph">USDT</option>
                                            </select>
                                        </div>


                                    </div>

                                    <div class="modal-number">
                                        <input type="text" placeholder="0.00" value="0.00" class="form-control2">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="modal-exchange_item exchangeBackground-2">

                            <div class="form-group">

                                <div class="modal-flex_input">

                                    <div class="modal-disabled">

                                        <div class="modal-disabled_title">
                                            <span>I want Teather USD</span>
                                        </div>

                                        <div class="modal-disabledFlex">
                                            <div class="modal-disabledIcon">
                                                <i class="icon-teph"></i>
                                            </div>

                                            <div class="modal-disabledText">
                                                USDT
                                            </div>
                                        </div>


                                    </div>

                                    <div class="modal-number">
                                        <input type="text" placeholder="0.00" value="0.00" class="form-control3" disabled>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="modal-max">
                        <button>MAX</button>
                    </div>

                    <div class="modal-exchangeButton">
                        <a href="#">Обменять</a>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>




