<footer class="footer">
   <div class="content">
       <div class="footer-content">

           <div class="footer-left">
                <div class="footer-logo">
                    <a href="/" class="logo"></a>
                </div>
               
               <div class="footer-left_text">
                   <p>Stay on top of the latest crypto news and insights</p>
               </div>
               
               <div class="footer-left_button">
                   <a href="#">Subscribe</a>
               </div>
           </div>

           <div class="footer-right">

               <div class="row">


                   <div class="col-lg-4 col-6">
                       <div class="footer-right_item">
                           <h4>INVEST</h4>

                           <div><a href="#">Offers</a></div>
                           <div><a href="#">Offers</a></div>
                           <div><a href="#">Offers</a></div>




                       </div>
                   </div>

                   <div class="col-lg-4 col-6">
                       <div class="footer-right_item">
                           <h4>RESEARCH</h4>
                           <div><a href="#">Offers</a></div>
                           <div><a href="#">Offers</a></div>
                           <div><a href="#">Offers</a></div>
                       </div>
                   </div>

                   <div class="col-lg-4 mt-lg-0 mt-3 col-6">
                       <div class="footer-right_item">
                           <h4>COMPANY</h4>

                           <div><a href="#">Offers</a></div>
                           <div><a href="#">Offers</a></div>
                           <div><a href="#">Offers</a></div>
                       </div>
                   </div>

                   <div class="col-lg-4 mt-lg-4 mt-3 col-6">
                       <div class="footer-right_item">
                           <h4>RESOURCES</h4>

                           <div><a href="#">Offers</a></div>
                           <div><a href="#">Offers</a></div>
                           <div><a href="#">Offers</a></div>
                       </div>
                   </div>

                   <div class="col-lg-4 mt-lg-4 mt-3 col-6">
                       <div class="footer-right_item">
                           <h4>BLOG</h4>

                           <div><a href="#">Offers</a></div>
                           <div><a href="#">Offers</a></div>
                           <div><a href="#">Offers</a></div>
                       </div>
                   </div>
               </div>



           </div>


       </div>
   </div>

    <div class="content">
        <div class="footer-social">

            <div class="menu-social_item">
                <a href="#">
                    <i class="icon-twitter"></i>
                </a>
            </div>

            <div class="menu-social_item">
                <a href="#">
                    <i class="icon-fb"></i>
                </a>
            </div>

            <div class="menu-social_item">
                <a href="#">
                    <i class="icon-ig"></i>
                </a>
            </div>

            <div class="menu-social_item">
                <a href="#">
                    <i class="icon-tube"></i>
                </a>
            </div>

            <div class="menu-social_item">
                <a href="#">
                    <i class="icon-in"></i>
                </a>
            </div>

        </div>
    </div>


    <div class="copyright">
        <div class="content">

            <div class="copyright-content">
                <div class="copyright-text">
                    <p>© ETFRIX All Rights Reserved</p>
                </div>

                <div class="copyright-link">
                    <a href="#">Privacy Policy</a>
                </div>
            </div>


        </div>
    </div>
</footer>