<footer class="footerAccount">
    <div class="content">

        <div class="footerTop">
            <div class="footerTop-left">
                <div class="footerTop-left_block">
                    <div class="footerTop-left_logo">
                        <a href="/" class="logo"></a>
                    </div>

                    <div class="footerTop-left_language">
                        <select name="currency-2" id="currency-5" class="form-control select-single-2">
                            <option value="">EN</option>
                            <option value="">RU</option>
                            <option value="petersburg">CH</option>
                            <option value="samara">AR</option>
                        </select>
{#                        <button>RU</button>#}
                    </div>
                </div>
            </div>

            <div class="footerTop-right">
                <div class="footerTop-right_title">
                    <p>Support:</p>
                </div>

                <div class="footerTop-right_block">
                    <a href="#" class="footerTop-right_item">
                        <i class="icon-info"></i>
                    </a>

                    <a href="#" class="footerTop-right_item">
                        <i class="icon-tg"></i>
                    </a>

                    <a href="#" class="footerTop-right_item">
                        <i class="icon-mail"></i>
                    </a>
                </div>
            </div>
        </div>



    </div>


    <div class="copyright">
        <div class="content">

            <div class="copyright-content">
                <div class="copyright-text">
                    <p>© ETFRIX All Rights Reserved</p>
                </div>

                <div class="copyright-link">
                    <a href="#">Privacy Policy</a>
                </div>
            </div>


        </div>
    </div>
</footer>