<header class="headerForm">
    <div class="content">
        <div class="headerForm-content">

            <div class="header-logo">
                <a href="/" class="logo"></a>
            </div>

            <div class="headerForm-right d-lg-flex d-none">

                <div class="header-language">
                    <button>EN</button>
                    <button class="d-none">RU</button>
                </div>

                <div class="headerForm-social">
                    <div class="menu-social_item">
                        <a href="#">
                            <i class="icon-twitter2"></i>
                        </a>
                    </div>

                    <div class="menu-social_item">
                        <a href="#">
                            <i class="icon-fb2"></i>
                        </a>
                    </div>

                    <div class="menu-social_item">
                        <a href="#">
                            <i class="icon-ig2"></i>
                        </a>
                    </div>

                    <div class="menu-social_item">
                        <a href="#">
                            <i class="icon-tube2"></i>
                        </a>
                    </div>

                    <div class="menu-social_item">
                        <a href="#">
                            <i class="icon-in2"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="mobileMenu d-lg-none d-block">
                <div class="mobileMenu-content">

                    <div class="mobileMenu-burger">
                        <button class="js-sideBarCtrl menu_burger">
                            <span class="menu-global menu-top"></span>
                            <span class="menu-global menu-middle"></span>
                            <span class="menu-global menu-bottom"></span>
                        </button>

                        <div class="sideBar">
                            <div class="sideBar-content">
                                <div class="content">

                                    <div class="menu-language">
                                        <button>EN</button>
                                    </div>

                                    <div class="menu-social">
                                        <div class="menu-social_item">
                                            <a href="#">
                                                <i class="icon-twitter"></i>
                                            </a>
                                        </div>

                                        <div class="menu-social_item">
                                            <a href="#">
                                                <i class="icon-fb"></i>
                                            </a>
                                        </div>

                                        <div class="menu-social_item">
                                            <a href="#">
                                                <i class="icon-ig"></i>
                                            </a>
                                        </div>

                                        <div class="menu-social_item">
                                            <a href="#">
                                                <i class="icon-tube"></i>
                                            </a>
                                        </div>

                                        <div class="menu-social_item">
                                            <a href="#">
                                                <i class="icon-in"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</header>