<header class="header">
    <div class="content">
        <div class="header-content">

            <div class="header-logo">
                <a href="/" class="logo"></a>
            </div>

            <div class="desktopMenu d-lg-block d-none">
                <ul class="desktopMenu-ul">
                    <li class="desktopMenu-li desktopMenu_active">
                        <a href="/">Home</a>
                    </li>
                    <li class="desktopMenu-li">
                        <a href="affiliate.html">For partners</a>
                    </li>
                    <li class="desktopMenu-li">
                        <a href="about.html">About us</a>
                    </li>
                    <li class="desktopMenu-li">
                        <a href="faq.html">FAQ</a>
                    </li>

                    <li class="desktopMenu-li">
                        <a href="tokenization.html">Asset tokenization</a>
                    </li>
                </ul>
            </div>





            <div class="header-language">

                <select name="currency-2" id="currency-2" class="form-control select-single-2">
                    <option value="">EN</option>
                    <option value="">RU</option>
                    <option value="petersburg">CH</option>
                    <option value="samara">AR</option>
                </select>

            </div>









            <div class="header-cabinet">
                <a href="/account_1.html">
                    <p>cabinet</p>

                    <div class="cabinet-icon">
                        <i class="icon-user"></i>
                    </div>
                </a>
            </div>


            <div class="mobileMenu d-lg-none d-block">
                <div class="mobileMenu-content">

                    <div class="mobileMenu-header">
                        <div class="mobileMenu-cabinet">
                            <a href="/account_1.html">
                                <div class="cabinet-icon">
                                    <i class="icon-user"></i>
                                </div>
                            </a>
                        </div>

                        <div class="mobileMenu-burger">
                            <button class="js-sideBarCtrl menu_burger">
                                <span class="menu-global menu-top"></span>
                                <span class="menu-global menu-middle"></span>
                                <span class="menu-global menu-bottom"></span>
                            </button>

                            <div class="sideBar">
                                <div class="sideBar-content">
                                    <div class="content">

                                        <div class="menu">
                                            <ul class="menu-ul">
                                                <li class="menu-li">
                                                    <a href="/" class="menu-a menu_active ">Home</a>
                                                </li>
                                                <li class="menu-li">
                                                    <a href="affiliate.html" class="menu-a">For partners</a>
                                                </li>
                                                <li class="menu-li">
                                                    <a href="about.html" class="menu-a">About us</a>
                                                </li>
                                                <li class="menu-li">
                                                    <a href="faq.html" class="menu-a">FAQ</a>
                                                </li>

                                                <li class="menu-li">
                                                    <a href="tokenization.html" class="menu-a">Asset tokenization</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="menu-language__new">
                                            <select name="currency-2" id="currency-4" class="form-control select-single-2">
                                                <option value="">EN</option>
                                                <option value="">RU</option>
                                                <option value="petersburg">CH</option>
                                                <option value="samara">AR</option>
                                            </select>
                                        </div>

                                        <div class="menu-social">
                                            <div class="menu-social_item">
                                                <a href="#">
                                                    <i class="icon-twitter"></i>
                                                </a>
                                            </div>

                                            <div class="menu-social_item">
                                                <a href="#">
                                                    <i class="icon-fb"></i>
                                                </a>
                                            </div>

                                            <div class="menu-social_item">
                                                <a href="#">
                                                    <i class="icon-ig"></i>
                                                </a>
                                            </div>

                                            <div class="menu-social_item">
                                                <a href="#">
                                                    <i class="icon-tube"></i>
                                                </a>
                                            </div>

                                            <div class="menu-social_item">
                                                <a href="#">
                                                    <i class="icon-in"></i>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>
</header>


