<header class="headerAccount">
    <div class="content">
        <div class="headerAccount-content">

            <div class="headerAccount-left">

                <div class="header-settings">
                    <a href="#" class="js-sideBarCtrl2">
                        <i class="icon-settings"></i>
                    </a>

                    <div class="sideBar2">

                        <div class="content">
                            <div class="sideBar-content2">

                                <div class="setting-link">

                                    <a href="#" class="setting-link_item" data-toggle="modal" data-target="#arbitration">
                                        <div class="setting-link_icon">
                                            <i class="icon-smart"></i>
                                        </div>

                                        <div class="setting-link_text">
                                            <p>Заключить ETF контракт</p>
                                        </div>
                                    </a>

                                    <a href="#" class="setting-link_item">
                                        <div class="setting-link_icon">
                                            <i class="icon-stake"></i>
                                        </div>

                                        <div class="setting-link_text">
                                            <p class="disabled_link">Стейкинг</p>
                                        </div>
                                    </a>

                                    <a href="#" class="setting-link_item" data-toggle="modal" data-target="#activity">
                                        <div class="setting-link_icon">
                                            <i class="icon-wallet"></i>
                                        </div>

                                        <div class="setting-link_text">
                                            <p>RIXWallet</p>
                                        </div>
                                    </a>

                                </div>

                                <div class="setting">

                                    <a href="/account_1.html" class="setting-item">

                                        <div class="setting-top">
                                            <div class="setting-icon">
                                                <i class="icon-bar"></i>
                                            </div>

                                            <div class="setting-title">
                                                <h5>Активы</h5>
                                            </div>
                                        </div>

                                        <div class="setting-bottom">
                                            <div class="setting-icon">
                                                <i class="icon-teph"></i>
                                            </div>

                                            <div class="setting-sum">
                                                <p>0.3454364</p>
                                                <span>Usdt</span>
                                            </div>
                                        </div>

                                    </a>

                                    <a href="/account_2.html" class="setting-item">

                                        <div class="setting-top">
                                            <div class="setting-icon">
                                                <i class="icon-team"></i>
                                            </div>

                                            <div class="setting-title">
                                                <h5>Команда</h5>
                                            </div>
                                        </div>

                                        <div class="setting-bottom">
                                            <div class="setting-icon">
                                                <i class="icon-teph"></i>
                                            </div>

                                            <div class="setting-sum">
                                                <p>0.00</p>
                                                <span>Usdt</span>
                                            </div>
                                        </div>

                                    </a>

                                    <a href="/account_3.html" class="setting-item">

                                        <div class="setting-top">
                                            <div class="setting-icon">
                                                <i class="icon-promo"></i>
                                            </div>

                                            <div class="setting-title">
                                                <h5>Промо</h5>
                                            </div>
                                        </div>

                                        <div class="setting-bottom">
                                            <div class="setting-icon">
                                                <i class="icon-teph"></i>
                                            </div>

                                            <div class="setting-sum">
                                                <p>0.00</p>
                                                <span>Usdt</span>
                                            </div>
                                        </div>

                                    </a>

                                    <a href="/account_4.html" class="setting-item">

                                        <div class="setting-top">
                                            <div class="setting-icon">
                                                <i class="icon-collection"></i>
                                            </div>

                                            <div class="setting-title">
                                                <h5>RIX Collection</h5>
                                            </div>
                                        </div>


                                    </a>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="header-logo">
                    <a href="/" class="logo"></a>
                </div>
            </div>

            <div class="headerAccount-right">
                <div class="headerAccount-menu d-lg-flex d-none">
                    <div class="headerAccount-menu_item">
                        <div class="headerAccount-menu_icon">
                            <i class="icon-smart"></i>
                        </div>

                        <div class="headerAccount-menu_link">
                            <a href="#" data-toggle="modal" data-target="#arbitration">Заключить ETF контракт</a>
                        </div>
                    </div>

                    <div class="headerAccount-menu_item">
                        <div class="headerAccount-menu_icon">
                            <i class="icon-stake"></i>
                        </div>

                        <div class="headerAccount-menu_link">
                            <a href="#" class="disabled_link">Стейкинг</a>
                        </div>
                    </div>

                    <div class="headerAccount-menu_item">
                        <div class="headerAccount-menu_icon">
                            <i class="icon-wallet"></i>
                        </div>

                        <div class="headerAccount-menu_link">
                            <a href="#" data-toggle="modal" data-target="#activity">RIXWallet</a>
                        </div>
                    </div>
                </div>

                <a href="/profile.html" class="headerAccount-avatar d-lg-flex d-none">
                    <div class="headerAccount-avatar_name">
                        <p>Oleksandr Harmash</p>
                    </div>

                    <div class="headerAccount-avatar_img">
                        <img src="/img/avatar.png" alt="">
                    </div>
                </a>
            </div>

            <div class="mobileMenu headerAccount_mobile d-lg-none d-block">
                <div class="mobileMenu-content">

                    <div class="mobileMenu-burger">
                        <button class="js-sideBarCtrl menu_burger">
                            <span class="menu-global menu-top"></span>
                            <span class="menu-global menu-middle"></span>
                            <span class="menu-global menu-bottom"></span>
                        </button>

                        <div class="sideBar sideBar-right">

                            <div class="content">
                                <div class="sideBar-content sideBar-content_right">


                                    <div class="accountBar">
                                        <div class="accountBar-title">
                                            <h5>Мой кабинет</h5>
                                        </div>

                                        <div class="accountBar-profile">

                                            <div class="accountBar-profile_img">

                                                <div class="accountBar-download">
                                                    <input name="file" type="file" id="File" class="accountBar-file" multiple="">
                                                    <label for="File" class="accountBar-fileButton"></label>
                                                </div>

                                                <img src="/img/avatar_2.png" alt="">
                                            </div>

                                            <div class="accountBar-profile_name">
                                                <span>Имя пользователя</span>
                                                <p>Oleksandr Harmash</p>
                                            </div>

                                        </div>

                                        <div class="accountBar-form">
                                            <div class="form">
                                                <div class="form-group">
                                                    <label for="login">Ваш логин</label>

                                                    <input type="text" id="login" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label for="tel">Ваш телефон</label>

                                                    <input type="tel" id="tel" class="form-control">
                                                </div>

                                                <div class="form-group">

                                                    <div class="input-container">
                                                        <label for="password-account">Ваш пароль</label>

                                                        <input type="password" id="password-account" class="form-control">

                                                        <button class="pass4 password-visible4"></button>
                                                    </div>

                                                </div>

                                                <button type="submit" class="accountBar_button">
                                                    Сохранить
                                                </button>
                                            </div>
                                        </div>

                                        <div class="accountBar-state">

                                            <div class="accountBar-state_top">
                                                <div class="accountBar-state_icon">
                                                    <i class="icon-skills"></i>
                                                </div>

                                                <div class="accountBar-state_title">
                                                    <h4>Состояние аккаунта</h4>
                                                </div>
                                            </div>


                                            <div class="accountBar-state_bottom">
                                                <div class="accountBar-state_item">
                                                    <div class="accountBar-item_icon">
                                                        <i class="icon-state1"></i>
                                                    </div>

                                                    <div class="accountBar-item_text">
                                                        <p>Курс JIO</p>
                                                        <span>0.051 USDT</span>
                                                    </div>
                                                </div>

                                                <div class="accountBar-state_item">
                                                    <div class="accountBar-item_icon">
                                                        <i class="icon-state2"></i>
                                                    </div>

                                                    <div class="accountBar-item_text">
                                                        <p>Статус Клиента</p>
                                                        <span>А+</span>
                                                    </div>
                                                </div>

                                                <div class="accountBar-state_item">
                                                    <div class="accountBar-item_icon">
                                                        <i class="icon-state3"></i>
                                                    </div>

                                                    <div class="accountBar-item_text">
                                                        <p>Верификация клиента</p>
                                                        <span>Верифицирован</span>
                                                    </div>
                                                </div>

                                                <div class="accountBar-state_item">
                                                    <div class="accountBar-item_icon">
                                                        <i class="icon-state4"></i>
                                                    </div>

                                                    <div class="accountBar-item_text">
                                                        <p>Дата регистрации</p>
                                                        <span>2023-10-21 12:15:04</span>
                                                    </div>
                                                </div>

                                                <div class="accountBar-state_item">
                                                    <div class="accountBar-item_icon">
                                                        <i class="icon-state5"></i>
                                                    </div>

                                                    <div class="accountBar-item_text">
                                                        <p>Поддержка 24/7</p>
                                                        <a href="mailto:@telegramlogin">@telegramlogin</a>
                                                    </div>
                                                </div>

                                                <div class="accountBar-state_item">
                                                    <div class="accountBar-item_icon">
                                                        <i class="icon-state6"></i>
                                                    </div>

                                                    <div class="accountBar-item_text">
                                                        <p>Партнерская ссылка</p>
                                                        <a href="#">dfsdfbfgnsdfhsdfg/sds</a>
                                                    </div>
                                                </div>

                                                <div class="accountBar-state_item">
                                                    <div class="accountBar-item_icon">
                                                        <i class="icon-state7"></i>
                                                    </div>

                                                    <div class="accountBar-item_text">
                                                        <a href="#" class="disabled_link state_a">Трансферы</a>
                                                    </div>
                                                </div>

                                                <div class="accountBar-state_item">
                                                    <div class="accountBar-item_icon">
                                                        <i class="icon-exitBar"></i>
                                                    </div>

                                                    <div class="accountBar-item_text">
                                                        <a href="#" class="state_a">Выход</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</header>

    {% include  "modalActive.twig"%}
    {% include  "arbitration.twig"%}
