<div class="customModal">
    <div class="modal fade activity_modal" id="activity" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-close">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body">

                    <div class="modal-background">
                        <div class="modal-function">

                            <div class="modal-function_item order-md-1 order-2">

                                <div class="modal-function_button">
                                    <a href="#" data-toggle="modal" data-target="#statistic">
                                    <span class="modal-function_icon">
                                        <i class="icon-bar"></i>
                                    </span>
                                        <span class="modal-function_text">Статиситка</span>
                                    </a>
                                </div>

                            </div>

                            <div class="modal-function_item order-md-1 order-1">

                                <div class="total-graphic">
                                    <figure class="highcharts-block">
                                        <div id="chartsModal"></div>
                                    </figure>


                                    <div class="total-circle"></div>
                                </div>

                            </div>

                            <div class="modal-function_item order-md-1 order-3">

                                <div class="modal-function_button">
                                    <a href="#" data-toggle="modal" data-target="#exchange">
                                    <span class="modal-function_icon">
                                        <i class="icon-exchange"></i>
                                    </span>
                                        <span class="modal-function_text">Обмен</span>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="modal-switch">

                            <div class="modal-switch_item">

                                <div class="modal-switch_block">
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="switch-slider round"></span>
                                    </label>

                                    <div class="modal-switch_label">
                                        <span>Функция выкл</span>
                                    </div>
                                </div>


                            </div>

                            <div class="modal-switch_item">

                                <div class="modal-switch_block">
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="switch-slider round"></span>
                                    </label>

                                    <div class="modal-switch_label">
                                        <span>Функция выкл</span>
                                    </div>
                                </div>


                            </div>

                            <div class="modal-switch_item">

                                <div class="modal-switch_block">
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="switch-slider round"></span>
                                    </label>

                                    <div class="modal-switch_label">
                                        <span>Функция выкл</span>
                                    </div>
                                </div>


                            </div>

                            <div class="modal-switch_item">

                                <div class="modal-switch_block">
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="switch-slider round"></span>
                                    </label>

                                    <div class="modal-switch_label">
                                        <span>Функция выкл</span>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>

                    <div class="modal-table">

                        <table>
                            <thead>
                                <tr>
                                    <th>Наименование</th>
                                    <th>Курс</th>
                                    <th>Изменение за 24 часа</th>
                                    <th class="text-right">Мой баланс</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>

                                        <div class="td-first">
                                            <div class="td-first_icon">
                                                <i class="icon-btc"></i>
                                            </div>

                                            <div class="td-first_text">
                                                <p>BTC</p>
                                                <span>Bitcoin</span>
                                            </div>
                                        </div>



                                    </td>
                                    <td>USD 53,260.20</td>
                                    <td class="text_green">0.25%</td>
                                    <td class="text-right">USD 53,260.20</td>
                                </tr>

                                <tr>
                                    <td>

                                        <div class="td-first">
                                            <div class="td-first_icon">
                                                <i class="icon-btc"></i>
                                            </div>

                                            <div class="td-first_text">
                                                <p>BTC</p>
                                                <span>Bitcoin</span>
                                            </div>
                                        </div>



                                    </td>
                                    <td>USD 53,260.20</td>
                                    <td class="text_green">0.25%</td>
                                    <td class="text-right">USD 53,260.20</td>
                                </tr>

                                <tr>
                                    <td>

                                        <div class="td-first">
                                            <div class="td-first_icon">
                                                <i class="icon-btc"></i>
                                            </div>

                                            <div class="td-first_text">
                                                <p>BTC</p>
                                                <span>Bitcoin</span>
                                            </div>
                                        </div>



                                    </td>
                                    <td>USD 53,260.20</td>
                                    <td class="text_green">0.25%</td>
                                    <td class="text-right">USD 53,260.20</td>
                                </tr>

                                <tr>
                                    <td>

                                        <div class="td-first">
                                            <div class="td-first_icon">
                                                <i class="icon-btc"></i>
                                            </div>

                                            <div class="td-first_text">
                                                <p>BTC</p>
                                                <span>Bitcoin</span>
                                            </div>
                                        </div>



                                    </td>
                                    <td>USD 53,260.20</td>
                                    <td class="text_green">0.25%</td>
                                    <td class="text-right">USD 53,260.20</td>
                                </tr>

                                <tr>
                                    <td>

                                        <div class="td-first">
                                            <div class="td-first_icon">
                                                <i class="icon-btc"></i>
                                            </div>

                                            <div class="td-first_text">
                                                <p>BTC</p>
                                                <span>Bitcoin</span>
                                            </div>
                                        </div>



                                    </td>
                                    <td>USD 53,260.20</td>
                                    <td class="text_green">0.25%</td>
                                    <td class="text-right">USD 53,260.20</td>
                                </tr>

                                <tr>
                                    <td>

                                        <div class="td-first">
                                            <div class="td-first_icon">
                                                <i class="icon-btc"></i>
                                            </div>

                                            <div class="td-first_text">
                                                <p>BTC</p>
                                                <span>Bitcoin</span>
                                            </div>
                                        </div>



                                    </td>
                                    <td>USD 53,260.20</td>
                                    <td class="text_green">0.25%</td>
                                    <td class="text-right">USD 53,260.20</td>
                                </tr>

                                <tr>
                                    <td>

                                        <div class="td-first">
                                            <div class="td-first_icon">
                                                <i class="icon-btc"></i>
                                            </div>

                                            <div class="td-first_text">
                                                <p>BTC</p>
                                                <span>Bitcoin</span>
                                            </div>
                                        </div>



                                    </td>
                                    <td>USD 53,260.20</td>
                                    <td class="text_green">0.25%</td>
                                    <td class="text-right">USD 53,260.20</td>
                                </tr>

                                <tr>
                                    <td>

                                        <div class="td-first">
                                            <div class="td-first_icon">
                                                <i class="icon-btc"></i>
                                            </div>

                                            <div class="td-first_text">
                                                <p>BTC</p>
                                                <span>Bitcoin</span>
                                            </div>
                                        </div>



                                    </td>
                                    <td>USD 53,260.20</td>
                                    <td class="text_green">0.25%</td>
                                    <td class="text-right">USD 53,260.20</td>
                                </tr>

                                <tr>
                                    <td>

                                        <div class="td-first">
                                            <div class="td-first_icon">
                                                <i class="icon-btc"></i>
                                            </div>

                                            <div class="td-first_text">
                                                <p>BTC</p>
                                                <span>Bitcoin</span>
                                            </div>
                                        </div>



                                    </td>
                                    <td>USD 53,260.20</td>
                                    <td class="text_green">0.25%</td>
                                    <td class="text-right">USD 53,260.20</td>
                                </tr>

                                <tr>
                                    <td>

                                        <div class="td-first">
                                            <div class="td-first_icon">
                                                <i class="icon-btc"></i>
                                            </div>

                                            <div class="td-first_text">
                                                <p>BTC</p>
                                                <span>Bitcoin</span>
                                            </div>
                                        </div>



                                    </td>
                                    <td>USD 53,260.20</td>
                                    <td class="text_green">0.25%</td>
                                    <td class="text-right">USD 53,260.20</td>
                                </tr>

                                <tr>
                                    <td>

                                        <div class="td-first">
                                            <div class="td-first_icon">
                                                <i class="icon-btc"></i>
                                            </div>

                                            <div class="td-first_text">
                                                <p>BTC</p>
                                                <span>Bitcoin</span>
                                            </div>
                                        </div>



                                    </td>
                                    <td>USD 53,260.20</td>
                                    <td class="text_green">0.25%</td>
                                    <td class="text-right">USD 53,260.20</td>
                                </tr>

                                <tr>
                                    <td>

                                        <div class="td-first">
                                            <div class="td-first_icon">
                                                <i class="icon-btc"></i>
                                            </div>

                                            <div class="td-first_text">
                                                <p>BTC</p>
                                                <span>Bitcoin</span>
                                            </div>
                                        </div>



                                    </td>
                                    <td>USD 53,260.20</td>
                                    <td class="text_green">0.25%</td>
                                    <td class="text-right">USD 53,260.20</td>
                                </tr>

                                <tr>
                                    <td>

                                        <div class="td-first">
                                            <div class="td-first_icon">
                                                <i class="icon-btc"></i>
                                            </div>

                                            <div class="td-first_text">
                                                <p>BTC</p>
                                                <span>Bitcoin</span>
                                            </div>
                                        </div>



                                    </td>
                                    <td>USD 53,260.20</td>
                                    <td class="text_green">0.25%</td>
                                    <td class="text-right">USD 53,260.20</td>
                                </tr>
                            </tbody>

                        </table>

                    </div>

                    <div class="table-mobile">

                        <div class="table-mobile_top">
                            <div class="table-mobile_item">
                                <p>Наименование</p>
                                <span class="text_blue">Курс</span>
                            </div>

                            <div class="table-mobile_item">
                                <p>Изменение за 24 часа</p>
                                <span>Мой баланс</span>
                            </div>
                        </div>

                        <div class="table-mobile_bottom">

                            <div class="table-mobile_bottomItem">

                                <div class="table-mobile_bottomBlock">
                                    <div class="table-mobile_bottomLeft">
                                        <div class="table-mobile_bottomIcon">
                                            <i class="icon-btcMobile"></i>
                                        </div>

                                        <div class="table-mobile_bottomText">
                                            <p>BTC</p>
                                            <span>Bitcoin</span>
                                        </div>
                                    </div>

                                    <div class="table-mobile_bottomRight">
                                        <p>USD 53,260.20</p>
                                    </div>
                                </div>

                                <div class="table-mobile_bottomBlock">
                                    <div class="table-mobile_bottomLeft2">
                                        <p>0.25%</p>
                                    </div>

                                    <div class="table-mobile_bottomRight2">
                                        <p>USD 53,260.20</p>
                                    </div>
                                </div>



                            </div>

                            <div class="table-mobile_bottomItem">

                                <div class="table-mobile_bottomBlock">
                                    <div class="table-mobile_bottomLeft">
                                        <div class="table-mobile_bottomIcon">
                                            <i class="icon-btcMobile"></i>
                                        </div>

                                        <div class="table-mobile_bottomText">
                                            <p>BTC</p>
                                            <span>Bitcoin</span>
                                        </div>
                                    </div>

                                    <div class="table-mobile_bottomRight">
                                        <p>USD 53,260.20</p>
                                    </div>
                                </div>

                                <div class="table-mobile_bottomBlock">
                                    <div class="table-mobile_bottomLeft2">
                                        <p>0.25%</p>
                                    </div>

                                    <div class="table-mobile_bottomRight2">
                                        <p>USD 53,260.20</p>
                                    </div>
                                </div>



                            </div>

                            <div class="table-mobile_bottomItem">

                                <div class="table-mobile_bottomBlock">
                                    <div class="table-mobile_bottomLeft">
                                        <div class="table-mobile_bottomIcon">
                                            <i class="icon-btcMobile"></i>
                                        </div>

                                        <div class="table-mobile_bottomText">
                                            <p>BTC</p>
                                            <span>Bitcoin</span>
                                        </div>
                                    </div>

                                    <div class="table-mobile_bottomRight">
                                        <p>USD 53,260.20</p>
                                    </div>
                                </div>

                                <div class="table-mobile_bottomBlock">
                                    <div class="table-mobile_bottomLeft2">
                                        <p>0.25%</p>
                                    </div>

                                    <div class="table-mobile_bottomRight2">
                                        <p>USD 53,260.20</p>
                                    </div>
                                </div>



                            </div>

                            <div class="table-mobile_bottomItem">

                                <div class="table-mobile_bottomBlock">
                                    <div class="table-mobile_bottomLeft">
                                        <div class="table-mobile_bottomIcon">
                                            <i class="icon-btcMobile"></i>
                                        </div>

                                        <div class="table-mobile_bottomText">
                                            <p>BTC</p>
                                            <span>Bitcoin</span>
                                        </div>
                                    </div>

                                    <div class="table-mobile_bottomRight">
                                        <p>USD 53,260.20</p>
                                    </div>
                                </div>

                                <div class="table-mobile_bottomBlock">
                                    <div class="table-mobile_bottomLeft2">
                                        <p>0.25%</p>
                                    </div>

                                    <div class="table-mobile_bottomRight2">
                                        <p>USD 53,260.20</p>
                                    </div>
                                </div>



                            </div>

                            <div class="table-mobile_bottomItem">

                                <div class="table-mobile_bottomBlock">
                                    <div class="table-mobile_bottomLeft">
                                        <div class="table-mobile_bottomIcon">
                                            <i class="icon-btcMobile"></i>
                                        </div>

                                        <div class="table-mobile_bottomText">
                                            <p>BTC</p>
                                            <span>Bitcoin</span>
                                        </div>
                                    </div>

                                    <div class="table-mobile_bottomRight">
                                        <p>USD 53,260.20</p>
                                    </div>
                                </div>

                                <div class="table-mobile_bottomBlock">
                                    <div class="table-mobile_bottomLeft2">
                                        <p>0.25%</p>
                                    </div>

                                    <div class="table-mobile_bottomRight2">
                                        <p>USD 53,260.20</p>
                                    </div>
                                </div>



                            </div>

                            <div class="table-mobile_bottomItem">

                                <div class="table-mobile_bottomBlock">
                                    <div class="table-mobile_bottomLeft">
                                        <div class="table-mobile_bottomIcon">
                                            <i class="icon-btcMobile"></i>
                                        </div>

                                        <div class="table-mobile_bottomText">
                                            <p>BTC</p>
                                            <span>Bitcoin</span>
                                        </div>
                                    </div>

                                    <div class="table-mobile_bottomRight">
                                        <p>USD 53,260.20</p>
                                    </div>
                                </div>

                                <div class="table-mobile_bottomBlock">
                                    <div class="table-mobile_bottomLeft2">
                                        <p>0.25%</p>
                                    </div>

                                    <div class="table-mobile_bottomRight2">
                                        <p>USD 53,260.20</p>
                                    </div>
                                </div>



                            </div>

                            <div class="table-mobile_bottomItem">

                                <div class="table-mobile_bottomBlock">
                                    <div class="table-mobile_bottomLeft">
                                        <div class="table-mobile_bottomIcon">
                                            <i class="icon-btcMobile"></i>
                                        </div>

                                        <div class="table-mobile_bottomText">
                                            <p>BTC</p>
                                            <span>Bitcoin</span>
                                        </div>
                                    </div>

                                    <div class="table-mobile_bottomRight">
                                        <p>USD 53,260.20</p>
                                    </div>
                                </div>

                                <div class="table-mobile_bottomBlock">
                                    <div class="table-mobile_bottomLeft2">
                                        <p>0.25%</p>
                                    </div>

                                    <div class="table-mobile_bottomRight2">
                                        <p>USD 53,260.20</p>
                                    </div>
                                </div>



                            </div>

                            <div class="table-mobile_bottomItem">

                                <div class="table-mobile_bottomBlock">
                                    <div class="table-mobile_bottomLeft">
                                        <div class="table-mobile_bottomIcon">
                                            <i class="icon-btcMobile"></i>
                                        </div>

                                        <div class="table-mobile_bottomText">
                                            <p>BTC</p>
                                            <span>Bitcoin</span>
                                        </div>
                                    </div>

                                    <div class="table-mobile_bottomRight">
                                        <p>USD 53,260.20</p>
                                    </div>
                                </div>

                                <div class="table-mobile_bottomBlock">
                                    <div class="table-mobile_bottomLeft2">
                                        <p>0.25%</p>
                                    </div>

                                    <div class="table-mobile_bottomRight2">
                                        <p>USD 53,260.20</p>
                                    </div>
                                </div>



                            </div>

                        </div>

                    </div>

                    <div class="modal-button">

                        <div class="btn-1">
                            <a href="#" data-toggle="modal" data-target="#replenish">Пополнить</a>
                        </div>

                        <div class="btn-1">
                            <a href="#" data-toggle="modal" data-target="#conclusion">Вывод</a>
                        </div>

                    </div>


                </div>


            </div>
        </div>
    </div>
</div>
{% include  "replenish.twig"%}
{% include  "conclusion.twig"%}
{% include  "exchange.twig"%}
{% include  "statistic.twig"%}


