<div class="customModal_2">
    <div class="modal fade activity_modal" id="processing" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">



            <div class="modal-content modal-content_2">

                <div class="modal-close">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body">

                    <div class="modal-title">
                        <h3>Ожидайте, Ваша заявка в обработке</h3>
                    </div>


                    <div class="modal-button_2 mt-5">
                        <button>
                            <a href="#" class="btn-hash"> Продолжить</a>
                        </button>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>