<div class="customModal_2">
    <div class="modal fade activity_modal" id="replenishContinue" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">



            <div class="modal-content modal-content_2">

                <div class="figure-17"></div>

                <div class="modal-close">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body">

                    <div class="modal-title">
                        <h3>Пополнение USDT</h3>
                    </div>
                    
                    <div class="modal-qr">
                        <div class="modal-qr_left">
                            <img src="/img/qr.png" alt="">
                        </div>

                        <div class="modal-qr_right">

                            <div class="totalInfo-left_block mt-0">
                                <div class="totalInfo-left_icon">
                                    <i class="icon-teph"></i>
                                </div>

                                <div class="totalInfo-left_text">
                                    <p>0.3454364</p>
                                    <span>Usdt</span>
                                </div>
                            </div>

                            <div class="modal-qr_form">
                                <div class="form">
                                    <div class="form-group">

                                        <div class="modal-select">
                                            <label for="address">Введите адрес USDT</label>

                                            <input type="text" id="address" class="form-control" placeholder="TQxSis3Y84h8qJEFnBwAom26L2s..." disabled>
                                        </div>
                                    </div>

                                </div>
                            </div>




                        </div>
                    </div>

                    <div class="modal-qr_hash">
                        <div class="form">
                            <div class="form-group">

                                <div class="modal-select">
                                    <label for="hash">hash транзакция</label>

                                    <input type="text" id="hash" class="form-control" placeholder="0.00" value="0.00" disabled>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal-button_2">
                        <button>
                            <a href="#" class="btn-hash" data-toggle="modal" data-target="#processing"> Продолжить</a>
                        </button>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>
{% include  "processing.twig"%}



