<div class="customModal_2">
    <div class="modal fade activity_modal" id="sale" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">



            <div class="modal-content modal-content_2">

                <div class="modal-close">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body">

                    <div class="success-boost__text">
                        <h3>Продажа NFT юнитов была успешно подтверждена</h3>

                        <p>Ожидайте начисление на ваш Актуальный баланс</p>
                    </div>

                    <div class="modal-body__next">
                        <a href="#">Ок</a>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>