<div class="customModal_2">
    <div class="modal fade activity_modal" id="send" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">



            <div class="modal-content modal-content_2">



                <div class="modal-body">


                    <div class="verification-success_icon">
                        <i class="icon-successBig" style="margin: 0 auto;"></i>
                    </div>

                    <div class="verification-success_text">
                        <p>Ваше сообщение успешно отправлено, служба поддержки с Вами свяжется в течении 24-х часов</p>
                    </div>

                    <div class="verification-success_button">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">Ok</button>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>




