<div class="customModal customModal_fix">
    <div class="modal fade activity_modal" id="statistic" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="figure-18"></div>

                <div class="modal-close">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body">

                    <div class="modal-title__statistic">
                        <h3>Статистика RIXWALLET</h3>
                    </div>

                    <div class="modal-background">

                        <div class="modal-switch">

                            <div class="modal-switch_item">

                                <div class="modal-switch_block">
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="switch-slider round"></span>
                                    </label>

                                    <div class="modal-switch_label">
                                        <span>Поступления</span>
                                    </div>
                                </div>


                            </div>

                            <div class="modal-switch_item">

                                <div class="modal-switch_block">
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="switch-slider round"></span>
                                    </label>

                                    <div class="modal-switch_label">
                                        <span>Вывод</span>
                                    </div>
                                </div>


                            </div>

                            <div class="modal-switch_item">

                                <div class="modal-switch_block">
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="switch-slider round"></span>
                                    </label>

                                    <div class="modal-switch_label">
                                        <span>Обмен</span>
                                    </div>
                                </div>

                            </div>


                        </div>

                        <div class="modal-table modal-background__table">

                            <table>
                                <thead>
                                <tr>
                                    <th>Дата</th>
                                    <th>Действие</th>
                                    <th>Сумма</th>
                                    <th>Источник/Назначение</th>
                                    <th>Комментарий</th>
                                </tr>
                                </thead>

                                <tbody>

                                 <tr>
                                    <td>26.05.2025</td>
                                    <td>Поступление</td>
                                    <td>500 USDT</td>
                                    <td>Tr42w...eriu33</td>
                                    <td class="text-td__green">Завершено</td>
                                </tr>

                                 <tr>
                                     <td>26.05.2025</td>
                                     <td>Поступление</td>
                                     <td>500 USDT</td>
                                     <td>Tr42w...eriu33</td>
                                     <td class="text-td__yellow">В ожидании</td>
                                 </tr>

                                 <tr>
                                     <td>26.05.2025</td>
                                     <td>Поступление</td>
                                     <td>500 USDT</td>
                                     <td>Tr42w...eriu33</td>
                                     <td class="text-td__red">Отклонено</td>
                                 </tr>

                                 <tr>
                                     <td>26.05.2025</td>
                                     <td>Поступление</td>
                                     <td>500 USDT</td>
                                     <td>Tr42w...eriu33</td>
                                     <td class="text-td__red">Отклонено</td>
                                 </tr>

                                 <tr>
                                     <td>26.05.2025</td>
                                     <td>Поступление</td>
                                     <td>500 USDT</td>
                                     <td>Tr42w...eriu33</td>
                                     <td class="text-td__red">Отклонено</td>
                                 </tr>

                                 <tr>
                                     <td>26.05.2025</td>
                                     <td>Поступление</td>
                                     <td>500 USDT</td>
                                     <td>Tr42w...eriu33</td>
                                     <td class="text-td__red">Отклонено</td>
                                 </tr>

                                 <tr>
                                     <td>26.05.2025</td>
                                     <td>Поступление</td>
                                     <td>500 USDT</td>
                                     <td>Tr42w...eriu33</td>
                                     <td class="text-td__red">Отклонено</td>
                                 </tr>

                                 <tr>
                                     <td>26.05.2025</td>
                                     <td>Поступление</td>
                                     <td>500 USDT</td>
                                     <td>Tr42w...eriu33</td>
                                     <td class="text-td__red">Отклонено</td>
                                 </tr>

                                </tbody>

                            </table>

                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>
</div>



