<div class="customModal_2">
    <div class="modal fade activity_modal" id="text_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">



            <div class="modal-content">


                <div class="modal-close">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body">

                    <div class="modal-text_null">
                        <h3>Нечего переводить</h3>

                        <p>Баланс команды равен 0</p>

                        <div class="modal-body__next">
                            <a href="#" data-toggle="modal" data-target="#success-boost">Ок</a>
                        </div>


                    </div>


                </div>


            </div>
        </div>
    </div>
</div>
{% include  "replenish-continue.twig"%}



