<div class="customModal_2">
    <div class="modal fade activity_modal" id="text" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">



            <div class="modal-content">


                <div class="modal-close">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body">

                    <div class="modal-text_base">
                        <h3>Тайтл</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ducimus explicabo fugiat harum iste laborum nam, natus provident quas quos, tempora temporibus unde voluptate! Assumenda dolore doloremque non obcaecati temporibus!</p>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>
{% include  "replenish-continue.twig"%}



