<html lang="ru">
{%  include "head.twig" %}
<body>

<div class="page">

    <div class="page-header">
        {%  include "../block/headerForm.twig" %}
    </div>
    <div class="page-content">
        {% block content %}{% endblock %}
    </div>
    <div class="page-footer">
        {%  include "../block/footerForm.twig" %}
    </div>
</div>
</body>
</html>
